@using Microsoft.Extensions.Localization
@using BusinessLogic.Validation
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent.Question
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent.Action
<MudCard Outlined="true" Class="bg-adlergrey-200 shadow-xl p-2 m-1 w-72 h-full">
    <MudText Class="text-md font-bold text-adlerdarkblue">
        @(Localizer["AdaptivityQuestionPreview.Header.Question." + AdaptivityQuestion.Difficulty])
    </MudText>

    @if (AdaptivityQuestion is IMultipleChoiceQuestionViewModel multipleChoiceQuestion)
    {
        <MudText Class="text-sm text-adlerdarkblue pb-1">@multipleChoiceQuestion.Text</MudText>
        if (!HideChoices)
        {
            foreach (var choice in multipleChoiceQuestion.Choices)
            {
                <div class="flex flex-col pl-2">

                    @{
                        var isCorrectChoice = multipleChoiceQuestion.CorrectChoices.Contains(choice);
                    }
                    <div class="flex flex-row">
                        <MudIcon Icon="@(isCorrectChoice ? Icons.Material.Filled.Check : Icons.Material.Filled.Clear)"
                                 Size="Size.Small"
                                 Color="@(isCorrectChoice ? Color.Success : Color.Error)"/>
                        <MudText Class="indent-2 text-sm text-adlerdarkblue choice">@choice.Text</MudText>
                    </div>
                </div>
            }
        }
    }
    @foreach (var rule in AdaptivityQuestion.Rules)
    {
        @switch (rule.Action)
        {
            case CommentActionViewModel commentAction:
                <MudDivider Class="my-2"></MudDivider>
                <MudText Class="text-md font-bold text-adlerdarkblue">@Localizer["AdaptivityQuestionPreview.Header.Comment"]</MudText>
                <MudText Class="text-sm text-adlerdarkblue text-justify px-1">@commentAction.Comment</MudText>
                break;

            case ContentReferenceActionViewModel contentReferenceAction:
                <MudDivider Class="my-2"></MudDivider>
                <MudText Class="text-md font-bold text-adlerdarkblue">@Localizer["AdaptivityQuestionPreview.Header.ContentReference"]</MudText>
                <section class="flex flex-col place-items-start px-1">
                    <MudText Class="text-sm font-bold text-adlerdarkblue">
                        @if (contentReferenceAction.Comment != "")
                        {
                            @Localizer["AdaptivityQuestionPreview.Comment.Text"]
                        }
                    </MudText>
                    <MudText Class="text-sm text-adlerdarkblue text-justify pb-1">@contentReferenceAction.Comment</MudText>
                </section>
                <section class="flex flex-col place-items-start px-1">
                    <MudText Class="text-sm font-bold text-adlerdarkblue">@Localizer["AdaptivityQuestionPreview.ReferenceContent.Text"]</MudText>
                    <MudText Class="text-sm text-adlerdarkblue">@contentReferenceAction.Content</MudText>
                </section>
                break;

            case ElementReferenceActionViewModel elementReferenceAction:
                <MudDivider Class="my-2"></MudDivider>
                <MudText Class="text-md font-bold text-adlerdarkblue">@Localizer["AdaptivityQuestionPreview.Header.ElementReference"]</MudText>
                <MudText>
                    @if (LearningElementNamesProvider.ElementNames != null && LearningElementNamesProvider.ElementNames.FirstOrDefault(x => x.Item1 == elementReferenceAction.ElementId) != default)
                    {
                        <section class="flex flex-col place-items-start px-1">
                            <MudText Class="text-sm font-bold text-adlerdarkblue">
                                @if (elementReferenceAction.Comment != "")
                                {
                                    @Localizer["AdaptivityQuestionPreview.Comment.Text"]
                                }
                            </MudText>
                            <MudText Class="text-sm text-adlerdarkblue text-justify pb-1">@elementReferenceAction.Comment</MudText>
                        </section>
                        <section class="flex flex-col place-items-start px-1">
                            <MudText Class="text-sm font-bold text-adlerdarkblue">@Localizer["AdaptivityQuestionPreview.Reference.Text"]</MudText>
                            <MudText Class="text-sm text-adlerdarkblue">@LearningElementNamesProvider.ElementNames.First(x => x.Item1 == elementReferenceAction.ElementId).Item2</MudText>
                        </section>
                    }
                    else
                    {
                        @Localizer["AdaptivityQuestionPreview.ElementReference.NotFound", elementReferenceAction.ElementId]
                    }
                </MudText>
                break;
        }
    }
</MudCard>

@code {

    [Inject] internal IStringLocalizer<AdaptivityQuestionPreview> Localizer { get; set; } = null!;

    [Inject] internal ILearningElementNamesProvider LearningElementNamesProvider { get; set; } = null!;

    [Parameter, EditorRequired] public IAdaptivityQuestionViewModel AdaptivityQuestion { get; set; } = null!;

    [Parameter] public bool HideChoices { get; set; } = false;

}