@using Microsoft.Extensions.Localization
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent.Question
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent.Action
<MudCard Outlined="true" Style="padding: 4px; outline: thin solid black;">
    <MudText Typo="Typo.h5">
        @(Localizer["AdaptivityQuestionPreview.Header.Question." + AdaptivityQuestion.Difficulty])
    </MudText>

    @if (AdaptivityQuestion is IMultipleChoiceQuestionViewModel multipleChoiceQuestion)
    {
        <MudText Typo="Typo.body1">@multipleChoiceQuestion.Text</MudText>
        if (!HideChoices)
        {
            foreach (var choice in multipleChoiceQuestion.Choices)
            {
                <div class="inline-flex">

                    @{
                        var isCorrectChoice = multipleChoiceQuestion.CorrectChoices.Contains(choice);
                    }
                    <MudIcon Icon="@(isCorrectChoice ? Icons.Material.Filled.Check : Icons.Material.Filled.Clear)"
                             Color="@(isCorrectChoice ? Color.Success : Color.Error)"/>
                    <MudText Typo="Typo.body2">@choice.Text</MudText>
                </div>
                <br/>
            }
        }
    }
    @foreach (var rule in AdaptivityQuestion.Rules)
    {
        @switch (rule.Action)
        {
            case CommentActionViewModel commentAction:
                <MudText Typo="Typo.h6">@Localizer["AdaptivityQuestionPreview.Header.Comment"]</MudText>
                <MudText Typo="Typo.body1">@commentAction.Comment</MudText>
                break;
            case ContentReferenceActionViewModel contentReferenceAction:
                <MudText Typo="Typo.h6">@Localizer["AdaptivityQuestionPreview.Header.ContentReference"]</MudText>
                <MudText Typo="Typo.body1">@contentReferenceAction.Content</MudText>
                break;
            case ElementReferenceActionViewModel elementReferenceAction:
                <MudText Typo="Typo.h6">@Localizer["AdaptivityQuestionPreview.Header.ElementReference"]</MudText>
                <MudText Typo="Typo.body1">@elementReferenceAction.ElementId</MudText>
                break;
        }
    }
</MudCard>

@code {

    [Inject]
    internal IStringLocalizer<AdaptivityQuestionPreview> Localizer { get; set; } = null!;

    [Parameter, EditorRequired]
    public IAdaptivityQuestionViewModel AdaptivityQuestion { get; set; } = null!;

    [Parameter]
    public bool HideChoices { get; set; } = false;

}