@using Presentation.PresentationLogic.AuthoringToolWorkspace
@using Presentation.PresentationLogic.LearningSpace
@using Presentation.View.LearningWorld
@using Microsoft.Extensions.Localization
@using Presentation.PresentationLogic.AdvancedLearningSpaceEditor
@using Presentation.PresentationLogic.AdvancedLearningSpaceEditor.AdvancedLearningSpaceEditor

<section class="p-2 gap-1 flex flex-col justify-start">
    <div class="gap-8 flex justify-between items-start">
        <label id="learning-element-info" class="font-medium text-lg flex flex-col justify-stretch">
            <h3 class="text-base text-adlerblue-600 space-theme">
                <span class="text-adlergrey-600">@Localizer["LearningSpace.SpaceTheme.Text"] </span>@LearningSpaceP.LearningSpaceVm?.Theme
            </h3>
            @*<h3 class="text-base text-adlerblue-600"><span class="text-adlergrey-600">Selected learning element: </span> @SelectedViewModelsProvider.LearningElement.Name</h3>*@
            <h3 class="text-base text-adlerblue-600 flex-initial break-all space-goals">
                <span class="text-adlergrey-600">@Localizer["LearningSpace.SpaceGoals.Text"] </span>@LearningSpaceP.LearningSpaceVm?.Goals
            </h3>
        </label>
        <div class="min-w-max">
            <h3 class="text-base text-adlerblue-600 space-workload">
                <span class="text-adlergrey-600">@Localizer["LearningSpace.SpaceWorkload.Text"] </span> @LearningSpaceP.LearningSpaceVm?.Workload<span class="text-adlergrey-600"> min.</span>
            </h3>
            <h3 class="text-base text-adlerblue-600 space-points">
                <span class="text-adlergrey-600">@Localizer["LearningSpace.SpacePoints.Text"] </span> @LearningSpaceP.LearningSpaceVm?.Points
            </h3>
            @* @ChildContent *@
        </div>
    </div>

    <div class="w-full min-h-[300px] bg-adlerbgbright border-2 border-b-adlerdeactivated">
        @*style="width: 90%; height: 400px; border: 2px solid;"*@
        <div class="layout-shadow w-full h-full">
            <div class="mt-15 mx-auto layout w-[98%] h-[375px] 2xl:h-[420px] 1080p:h-[645px] 2500p:h-[1000px] 3000p:h-[1150px] 3700p:h-[1675px]" style="clip-path: polygon(0% 0%,  0% 60%, 60% 60%, 60% 0%);">
                Raum content
                <div class="bg-white rounded-lg w-full grow overflow-scroll">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-[475px] 2xl:h-[525px] 1080p:h-[750px] 2500p:h-[1100px] 3000p:h-[1250px] 3700p:h-[1775px] w-[500px] 2xl:w-[500px] 1080p:w-[500px] 2500p:w-[500px] 3000p:w-[600px] 3700p:w-[750px]"
                         @onmousemove=@(e => MouseService.FireMove(this, e))
                                 @onmouseup=@(e => MouseService.FireUp(this, e))
                                 @onmouseleave=@(e => MouseService.FireOut(this, e))>

                        <DraggableAdvancedLearningElementSlot ObjectName="learningElementSlot"
                                                              OnClickedDraggable="@AdvancedLearningSpaceEditorPresenter.SetSelectedAdvancedComponentViewModel"
                                                              OnDraggedDraggable="@AdvancedLearningSpaceEditorPresenter.DragSelectedAdvancedComponent"
                                                              OnClickedDeleteObject="@AdvancedLearningSpaceEditorPresenter.DeleteSelectedAdvancedComponent"
                                                              OnRightClickedDraggable="@AdvancedLearningSpaceEditorPresenter.RightClickOnAdvancedComponent"
                                                              @* ShowingRightClickMenu="learningSpace == LearningWorldP.RightClickedLearningObject" *@
                                                              @* OnCloseRightClickMenu="@AdvancedLearningSpaceEditorPresenter.HideRightClickMenu" *@
                                                              AdvancedEditorPresenter="@AdvancedLearningSpaceEditorPresenter"/>


                        <!-- The RightClickMenu might lies behind other spaces. 
                        This line brings the RightClickMenu back to top, but the clickable buttons do not work anymore. -->
                        <!--<use xlink:href="#rightClickMenu" />-->
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full min-h-[90px] bg-adlerbgbright border-2 border-b-adlerdeactivated">
        <nav class="bg-gray-300">
            <div class="relative flex mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-8 items-center justify-between">
                <div class="items-stretch justify-start hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <button
                            class="@GetMenuStyleString(MenuFocus.LearningElements) rounded-md px-2 py-1 text-sm font-medium"
                            @onclick="() => _menuFocus = MenuFocus.LearningElements">
                            <MudIcon Icon="@Icons.Material.Filled.AddChart"></MudIcon>
                            @Localizer["AdvancedLearningSpaceEditor.LearningElementSlots.Title"]
                        </button>
                        <button
                            class="@GetMenuStyleString(MenuFocus.DecoObjects) rounded-md px-2 py-1 text-sm font-medium"
                            @onclick="() => _menuFocus = MenuFocus.DecoObjects">
                            <MudIcon Icon="@Icons.Material.Filled.Castle"></MudIcon>
                            @Localizer["AdvancedLearningSpaceEditor.Decorations.Title"]
                        </button>
                        <button
                            class="@GetMenuStyleString(MenuFocus.Doors) rounded-md px-2 py-1 text-sm font-medium"
                            @onclick="() => _menuFocus = MenuFocus.Doors">
                            <MudIcon Icon="@Icons.Material.Filled.SensorDoor"></MudIcon>
                            @Localizer["AdvancedLearningSpaceEditor.Doors.Title"]
                        </button>
                        <button
                            class="@GetMenuStyleString(MenuFocus.Windows) rounded-md px-2 py-1 text-sm font-medium"
                            @onclick="() => _menuFocus = MenuFocus.Windows">
                            <MudIcon Icon="@Icons.Material.Filled.Window"></MudIcon>
                            @Localizer["AdvancedLearningSpaceEditor.Windows.Title"]
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div>
            Menu Inhalt
        </div>
    </div>
</section>


@code
{
#pragma warning disable CS8618 // injected by framework 
    [Inject]
    public IMouseService MouseService { get; set; }

    [Inject]
    public ILearningSpacePresenter LearningSpaceP { get; set; }

    [Inject]
    public IAdvancedLearningSpaceEditorPresenter AdvancedLearningSpaceEditorPresenter { get; set; }

    [Inject]
    private IStringLocalizer<AdvancedLearningSpaceEditorView> Localizer { get; set; }
#pragma warning restore CS8618

    private ExceptionWrapper? ErrorState { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    // Menu Button Stuff

    private enum MenuFocus
    {
        LearningElements,
        DecoObjects,
        Doors,
        Windows
    }

    private MenuFocus _menuFocus;

    private string GetMenuStyleString(MenuFocus buttonType)
    {
        return buttonType == _menuFocus ? "bg-gray-900 text-white " : "text-gray-400 hover:bg-gray-700 hover:text-white ";
    }
}