@using Presentation.PresentationLogic.LearningWorld
@using Shared
@using Presentation.Components.Forms.Models
@using Presentation.Components.LearningOutcomes
@using BusinessLogic.Entities
@using Microsoft.Extensions.Localization
@using Presentation.Components.Forms.Buttons
@using System.Diagnostics.CodeAnalysis
@using Shared.Theme
<div class="absolute w-full z-30 h-24">
    <header class="py-4 bg-adlerbgbright border-b-2 border-adlergrey-100 overflow-hidden flex justify-center">
        <h2 class="text-base 2xl:text-xl text-center font-bold text-adlerdarkblue-800 mx-2">@Localizer["CreateSpaceForm.Header.Title"]</h2>
    </header>
    <div class="flex justify-between items-start">
        <MudText Class="text-adlergrey-200 text-xs p-2">@Localizer["CreateSpaceForm.Text"]</MudText>
    </div>
</div>

<BaseForm TForm="LearningSpaceFormModel" TEntity="LearningSpace" @ref="_form"
          OnValidSubmit="OnValidSubmit" SnackbarMessage=@Localizer["CreateSpaceForm.SnackbarMessage"]
          FormDataContainer="FormDataContainer">
    <Fields>
        <div
            class="px-2 overflow-y-scroll top-28 h-[75%] 2xl:h-[83%] absolute flex flex-col w-[96%] mx-2 border-t border-dotted">
            <Collapsable Title=@Localizer["CreateSpaceForm.Fields.Collapsable.General.Title"]
                         InitiallyCollapsed="false">
                <div class="rounded-lg w-4/4 px-4 2xl:px-4">
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Name"
                                  For="@(() => FormModel.Name)"
                                  @ref="_nameField"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Label="@Localizer["CreateSpaceForm.Fields.Collapsable.General.Field.Name.Text"]"/>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateSpaceForm.Fields.Collapsable.CompletionConditions.Title"]
                         InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4 pb-2">
                    <MudText Typo="Typo.caption">
                        @Localizer["CreateSpaceForm.Fields.Collapsable.CompletionConditions.Field.RequiredPoints.Text"]
                    </MudText>
                    <MudNumericField @bind-Value="FormDataContainer.FormModel.RequiredPoints"
                                     Min="0"
                                     For="@(() => FormModel.RequiredPoints)"
                                     DebounceInterval="DebounceInterval"
                                     OnKeyUp="HandleKeyEvent"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense"/>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateSpaceForm.Fields.Collapsable.Theme.Title"] InitiallyCollapsed="true">
                <p class="text-xs pl-4">@Localizer["CreateSpaceForm.Fields.Collapsable.Theme.Field.Theme.Text"]</p>
                <div class="px-4 pb-2">
                    <MudSelect @bind-Value="FormDataContainer.FormModel.SpaceTheme"
                               OnKeyUp="HandleKeyEvent"
                               Text="@FormDataContainer.FormModel.SpaceTheme.ToString()"
                               For="@(() => FormModel.SpaceTheme)">
                        @foreach (var theme in _themes)
                        {
                            <MudSelectItem
                                Value="@(theme)">@(ThemeHelper<SpaceTheme>.Localize(theme, LearningWorldPresenter.LearningWorldVm?.WorldTheme.ToString()))</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateSpaceForm.Fields.Collapsable.Goals.Title"] InitiallyCollapsed="true">
                <div class="w-4/4 px-4 flex flex-col">
                    <MudText Class="cursor-default text-justify"
                             Typo="Typo.caption">@Localizer["CreateSpaceForm.Fields.Collapsable.Goals.Field.Goals.Text"]</MudText>
                    <div class="flex justify-center">
                        <MudButton Class="w-72 btn-standard"
                                   OnClick="OpenLearningOutcomesOverview">@Localizer["CreateSpaceForm.Goals.Button"]</MudButton>
                    </div>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateSpaceForm.Fields.Collapsable.Description.Title"]
                         InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4">
                    <MudText Typo="Typo.caption">
                        @Localizer["CreateSpaceForm.Fields.Collapsable.Goals.Field.Description.Text"]
                    </MudText>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Description"
                                  For="@(() => FormModel.Description)"
                                  Lines="3"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="DebounceInterval"
                                  Class="pb-4 mt-0"/>
                </div>
            </Collapsable>
        </div>

    </Fields>
    <FooterButtons>
        <div
            class="flex flex-row justify-end absolute left-0 bottom-0 border-t-2 border-adlergrey-100 bg-adlerbgbright w-full">
            <DefaultSubmitButton/>
            <DefaultResetButton/>
        </div>
    </FooterButtons>
</BaseForm>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal ILearningWorldPresenter LearningWorldPresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IFormDataContainer<LearningSpaceFormModel, LearningSpace> FormDataContainer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IStringLocalizer<CreateSpaceForm> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types
    internal IDialogService DialogService { get; set; }

    [Parameter] public int DebounceInterval { get; set; } = 300;


    //this indirection is necessary for the `For` attribute on the form fields to work properly when validating the form
    //please DO NOT REFACTOR THIS - n.stich
    private LearningSpaceFormModel FormModel => FormDataContainer.FormModel;

    private SpaceTheme[] _themes = Enum.GetValues<SpaceTheme>().Where(v => !IsObsolete(v)).ToArray();

    private static bool IsObsolete<TEnum>(TEnum value) where TEnum : Enum
    {
        var field = typeof(TEnum).GetField(value.ToString())!;
        return Attribute.IsDefined(field, typeof(ObsoleteAttribute));
    }

    private BaseForm<LearningSpaceFormModel, LearningSpace> _form = null!;
    private MudTextField<string> _nameField = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await _form.FocusField(_nameField);
        }
    }

    private void OnValidSubmit(LearningSpaceFormModel model)
    {
        LearningWorldPresenter.CreateLearningSpace(model.Name, model.Description,
            model.LearningOutcomeCollection, model.RequiredPoints, model.SpaceTheme);
    }

    private async Task HandleKeyEvent(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
        {
            await _form.SubmitAsync();
        }
    }

    private async void OpenLearningOutcomesOverview()
    {
        var options = new DialogOptions
        {
            BackdropClick = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseButton = true,
        };
        var parameters = new DialogParameters
        {
            { nameof(LearningOutcomesSpaceOverview.LearningOutcomeCollection), FormDataContainer.FormModel.LearningOutcomeCollection }
        };
        var dialog = await DialogService.ShowAsync<LearningOutcomesSpaceOverview>("", parameters, options);
        _ = await dialog.Result;
        StateHasChanged();
    }

}