@using System.ComponentModel
@using System.Diagnostics.CodeAnalysis
@using AutoMapper
@using BusinessLogic.Entities
@using Microsoft.Extensions.Localization
@using Presentation.Components.Forms.Buttons
@using Presentation.Components.Forms.Models
@using Presentation.Components.LearningOutcomes
@using Presentation.PresentationLogic.LearningSpace
@using Shared
<header class="py-2 2xl:py-3 bg-adlerbgbright border-b-2 border-adlergrey-100">
    <div class="flex justify-center py-2 2xl:py-3">
        <h2 class="text-base 2xl:text-xl text-center font-bold text-adlerdarkblue-800 mx-2">@Localizer["EditSpaceForm.Header.Title"]</h2>
    </div>
</header>

<MudText Class="text-adlergrey-200 w-4/4 p-4 text-xs">@Localizer["EditSpaceForm.Text"]</MudText>
<BaseForm TForm="LearningSpaceFormModel" TEntity="LearningSpace"
          OnValidSubmit="OnValidSubmit" OnValidFieldChange="OnValidFieldChange"
          SnackbarMessage=@Localizer["EditSpaceForm.SnackbarMessage"]
          FormDataContainer="FormDataContainer" @ref="_form">
    <HeaderButtons>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Class="btn-standard"
                   OnClick="async () => await OnNewButtonClicked.InvokeAsync()">
            @Localizer["EditSpaceForm.Button.New.Text"]
        </MudButton>
    </HeaderButtons>
    <Fields>
        <div class="px-4">
            <Collapsable Title=@Localizer["EditSpaceForm.Fields.Collapsable.General.Title"] InitiallyCollapsed="false">
                <div class="rounded-lg w-4/4 px-2 2xl:px-4">
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Name"
                                  For="@(() => FormModel.Name)"
                                  @ref="_nameField"
                                  DebounceInterval="DebounceInterval"
                                  Label="@Localizer["EditSpaceForm.Fields.Collapsable.General.Name.Text"]"/>
                </div>
            </Collapsable>
        </div>

        <div class="px-4">
            <Collapsable Title=@Localizer["EditSpaceForm.Fields.Collapsable.CompletionConditions.Title"] InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4 pb-2">
                    <MudText Typo="Typo.caption">
                        @Localizer["EditSpaceForm.Fields.Collapsable.CompletionConditions.Field.RequiredPoints.Text"]
                    </MudText>
                    <MudNumericField @bind-Value="FormDataContainer.FormModel.RequiredPoints"
                                     Min="0"
                                     For="@(() => FormModel.RequiredPoints)"
                                     DebounceInterval="DebounceInterval"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense"/>
                </div>
            </Collapsable>
        </div>

        <div class="px-4">
            <Collapsable Title=@Localizer["EditSpaceForm.Fields.Collapsable.FloorPlan.Title"] InitiallyCollapsed="false">
                @*<MudText Typo="Typo.caption">
                                @Localizer["EditSpaceForm.Fields.Collapsable.FloorPlan.Text"]
            </MudText>*@
                <div class="flex rounded-lg w-4/4 px-1 pb-2">
                    <SpaceLayoutSelection LearningSpaceViewModel="SpaceToEdit"></SpaceLayoutSelection>
                </div>
            </Collapsable>
        </div>

        <div class="px-4">
            <Collapsable Title=@Localizer["EditSpaceForm.Fields.Collapsable.Theme.Title"] InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4 pb-2">
                    <MudSelect @bind-Value="FormDataContainer.FormModel.Theme"
                               AnchorOrigin="Origin.BottomCenter"
                               Label=@Localizer["EditSpaceForm.Fields.Collapsable.Theme.Field.Theme.Text"]
                               Text="@FormDataContainer.FormModel.Theme.ToString()"
                               For="@(() => FormModel.Theme)">
                        @foreach (var theme in _themes)
                        {
                            <MudSelectItem Value="@(theme)">@ThemeHelper.Localize(theme)</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </Collapsable>
        </div>

        <div class="px-4">
            <Collapsable Title=@Localizer["EditSpaceForm.Fields.Collapsable.Goals.Title"] InitiallyCollapsed="true">
                <div class="w-4/4 px-4">
                    <MudText Class="cursor-default text-justify" Typo="Typo.caption">@Localizer["EditSpaceForm.Fields.Collapsable.Goals.Field.Goals.Text"]</MudText>
                    <div class="flex justify-center">
                        <MudButton Class="btn-standard w-72" OnClick="OpenLearningOutcomesOverview">@Localizer["EditSpaceForm.Goals.Button"]</MudButton>
                    </div>
                </div>
            </Collapsable>
        </div>

        <div class="px-4">
            <Collapsable Title=@Localizer["EditSpaceForm.Fields.Collapsable.Description.Title"] InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4">
                    <MudText Typo="Typo.caption">@Localizer["EditSpaceForm.Fields.Collapsable.Goals.Field.Description.Text"]</MudText>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Description"
                                  For="@(() => FormModel.Description)"
                                  Lines="3"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="DebounceInterval"
                                  Class="pb-4 mt-0"/>
                </div>
            </Collapsable>
        </div>

    </Fields>
    <FooterButtons>
        <SubmitThenRemapButton RemapAction="MapIntoContainer"/>
        <MudIconButton Icon="@Icons.Material.Filled.Autorenew"
                       OnClick="@OnResetAsync"
                       Class="btn-standard text-adlergrey shadow-lg rounded-lg bg-adlerdeactivated hover:bg-adlerdarkblue hover:text-buttonbgblue reset-form">
        </MudIconButton>
    </FooterButtons>
</BaseForm>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private ILearningSpacePresenter LearningSpacePresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IMapper Mapper { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IFormDataContainer<LearningSpaceFormModel, LearningSpace> FormDataContainer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IStringLocalizer<EditSpaceForm> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types
    internal IDialogService DialogService { get; set; }


    [Parameter, EditorRequired, AllowNull] //allow null since not providing the parameter produces a warning - n.stich
    public ILearningSpaceViewModel SpaceToEdit { get; set; }

    [Parameter, EditorRequired] public EventCallback OnNewButtonClicked { get; set; }

    [Parameter] public int DebounceInterval { get; set; } = 300;


    //this indirection is necessary for the `For` attribute on the form fields to work properly when validating the form
    //please DO NOT REFACTOR THIS - n.stich
    private LearningSpaceFormModel FormModel => FormDataContainer.FormModel;

    private Theme[] _themes = (Theme[])Enum.GetValues(typeof(Theme));

    private BaseForm<LearningSpaceFormModel, LearningSpace> _form = null!;
    private MudTextField<string> _nameField = null!;
    private bool _focusCalled = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!_focusCalled)
        {
            _focusCalled = true;
            await _form.FocusField(_nameField);
        }
    }

    private void OnValidSubmit(LearningSpaceFormModel model)
    {
        //we can supress the nullable warning here as validator ensures RequiredPoints isn't null - n.stich
        LearningSpacePresenter.EditLearningSpace(model.Name, model.Description,
            model.RequiredPoints, model.Theme);
    }

    private void OnValidFieldChange(LearningSpaceFormModel model) => OnValidSubmit(model);

    private async Task MapIntoContainer()
    {
        Mapper.Map(SpaceToEdit, FormDataContainer.FormModel);
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await MapIntoContainer();
        if (LearningSpacePresenter.LearningSpaceVm == null)
            throw new ApplicationException(Localizer["EditSpaceForm.ApplicationException.Message"]);
        LearningSpacePresenter.LearningSpaceVm.PropertyChanged += LearningSpacePropertyChanged;
        LearningSpacePresenter.LearningSpaceVm.LearningSpaceLayout.PropertyChanged += LearningSpaceLayoutPropertyChanged;
        _focusCalled = false;
    }

    private void LearningSpaceLayoutPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName is nameof(LearningSpaceViewModel.LearningSpaceLayout.FloorPlanName)
           )
        {
            InvokeAsync(MapIntoContainer);
        }
    }

    private void LearningSpacePropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName is nameof(LearningSpaceViewModel.Name) or nameof(LearningSpaceViewModel.Description)
            or nameof(LearningSpaceViewModel.LearningOutcomeCollection) or nameof(LearningSpaceViewModel.RequiredPoints)
           )
        {
            InvokeAsync(MapIntoContainer);
        }
    }

    private async void OpenLearningOutcomesOverview()
    {
        var options = new DialogOptions
        {
            DisableBackdropClick = false,
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseButton = true,
        };

        await MapIntoContainer();

        var parameters = new DialogParameters
        {
            { nameof(LearningOutcomesSpaceOverview.LearningOutcomeCollection), FormDataContainer.FormModel.LearningOutcomeCollection }
        };
        var dialog = await DialogService.ShowAsync<LearningOutcomesSpaceOverview>("", parameters, options);
        _ = await dialog.Result;
        StateHasChanged();
    }


    private async Task OnResetAsync()
    {
        await MapIntoContainer();
    }

}