@using Presentation.PresentationLogic.LearningSpace
@using Presentation.PresentationLogic.LearningSpace.SpaceLayout.FloorPlans
@using Shared
@using Microsoft.Extensions.Localization
@using System.Diagnostics.CodeAnalysis

<div class="grid grid-cols-5 justify-between 2xl:gap-4">
    @foreach (FloorPlanEnum floorPlan in Enum.GetValues(typeof(FloorPlanEnum)))
    {
        <MudListItem T="FloorPlanEnum" OnClick="_ => OnFloorPlanButtonSelected(floorPlan)"
                     Class="p-0">
            <MudTooltip Class="bg-adlergrey-200" Placement="Placement.End" Delay="150" Duration="250" Arrow="true">
                <ChildContent>
                    <div class="flex flex-col justify-center items-center gap-1 cursor-pointer p-2">
                        <MudIcon Class="inset-0 p-0 w-10 2xl:w-12 h-full"
                                 Icon="@FloorPlanViewModelProvider.GetFloorPlan(floorPlan).GetIcon"
                                 Style="@GetStyle(floorPlan)"></MudIcon>
                    </div>
                </ChildContent>
        
                <TooltipContent>
                    <MudCarousel TData="object" Class="mud-with-full" Style="height:300px; width:300px" ShowArrows="false" ShowBullets="true" AutoCycle="true" AutoCycleTime="new TimeSpan(0,0,2)">
                        <MudCarouselItem>
                            <div class="flex flex-col gap-1 justify-center">
                                <MudText>@FloorPlanLocalizer[$"FloorPlanEnum.{floorPlan.ToString()}.DisplayName"]</MudText>
                                <MudIcon Icon="@FloorPlanViewModelProvider.GetFloorPlan(floorPlan).GetIcon" Class="flex justify-center pl-5 w-72 h-64"/>
                            </div>
                        </MudCarouselItem>
                        <MudCarouselItem>
                            <div class="flex flex-col gap-2">
                                <MudText>@Localizer["SpaceLayoutSelection.MudTooltip.CarouselText"]</MudText>
                                <MudImage Src="@FloorPlanViewModelProvider.GetFloorPlan(floorPlan).GetPreviewImage" Class="w-full"></MudImage>
                            </div>
                        </MudCarouselItem>
                    </MudCarousel>
                </TooltipContent>

            </MudTooltip>
        </MudListItem>
    }
</div>


@code {

    // LearningSpacePresenter is injected and LearningSpaceViewModel is required to be set by the parent component

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public ILearningSpacePresenter LearningSpacePresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public IStringLocalizer<SpaceLayoutSelection> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public IStringLocalizer<FloorPlanEnum> FloorPlanLocalizer { get; set; }

    [Parameter, EditorRequired, AllowNull] //allow null since not providing the parameter produces a warning - n.stich
    public ILearningSpaceViewModel LearningSpaceViewModel { get; set; }


    private FloorPlanEnum SelectedFloorPlan => LearningSpaceViewModel.LearningSpaceLayout.FloorPlanName;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (LearningSpaceViewModel == null || LearningSpacePresenter.LearningSpaceVm != LearningSpaceViewModel)
            throw new ArgumentException(Localizer["ArgumentException.Message"]);
    }

    private void OnFloorPlanButtonSelected(FloorPlanEnum floorPlan)
    {
        if (LearningSpaceViewModel.LearningSpaceLayout.FloorPlanName != floorPlan)
        {
            LearningSpacePresenter.SetLearningSpaceLayout(floorPlan);
        }
    }

    private bool IsFloorPlanActive(FloorPlanEnum floorPlan)
    {
        return floorPlan == SelectedFloorPlan;
    }

    private string GetStyle(FloorPlanEnum floorPlan)
    {
        return IsFloorPlanActive(floorPlan) ?
            "filter: grayscale(0%); -webkit-filter: grayscale(0%); drop-shadow(0 0 5px #2e3a4d); -webkit-filter: drop-shadow(0 0 5px #2e3a4d);":
            "filter: grayscale(70%); -webkit-filter: grayscale(70%); opacity(0.40); -webkit-filter: opacity(0.40);";
    }

}