@using Presentation.PresentationLogic.API
@using Presentation.PresentationLogic.AuthoringToolWorkspace
@using Microsoft.Extensions.Localization
@using System.Diagnostics.CodeAnalysis
@using BusinessLogic.Entities.LearningContent
@using Presentation.Components.Forms
@using Presentation.Components.Forms.Content
<header class="m-2 rounded-lg">
    <div class="flex justify-center p-2">
        <h2 class="text-xl text-center font-bold text-adlergrey-500 mx-2">@Localizer["Header.Text"].Value</h2>
    </div>
</header>
<MudDivider DividerType="DividerType.Middle" Class="my-4"></MudDivider>
<MudStack Class="w-full">
    <div class="flex flex-col relative">

        @if (Working)
        {
            <div class="w-full h-full absolute bg-adlergrey-100 bg-opacity-25 z-40">
            </div>
            <MudProgressCircular Indeterminate="true" Class="z-40 m-auto absolute top-0 bottom-0 left-0 right-0"
                                 Color="Color.Primary" Size="Size.Large"/>
        }
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnFilesChanged" Hidden="false"
                       Accept="@AllowedFileEndings.EndingsCommaSeparated"
                       InputClass="absolute w-full h-full opacity-0 z-10"
                       @ondragenter="SetDragClass" @ondragleave="ClearDragClass"
                       @ondragend="ClearDragClass">
            <ButtonTemplate>
                <MudPaper Class="@PaperClasses" Outlined="true">
                    <MudText Typo="Typo.body1" Class="break-word w-80" Align="Align.Center">
                        @Localizer["FileUpload.ButtonTemplate.Text1"]<br/>
                        @Localizer["FileUpload.ButtonTemplate.Text2", AllowedFileEndings.EndingsCommaSeparatedNicely]
                    </MudText>
                </MudPaper>
            </ButtonTemplate>
        </MudFileUpload>
    </div>
    <Collapsable Title=@Localizer["Collapsable.Title"] Collapsed="true">
        <AddLinkForm/>
    </Collapsable>

</MudStack>

@code {


    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IDialogService DialogService { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IPresentationLogic PresentationLogic { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private ILogger<ContentFilesAdd> Logger { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IStringLocalizer<ContentFilesAdd> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IErrorService ErrorService { get; set; }

    [CascadingParameter]
    public ContentFilesContainer? ContentFilesContainer { get; set; }


    private string DragClass { get; set; } = "";
    private string PaperClasses => $"h-32 flex items-center justify-center relative {DragClass}";
    private bool Working { get; set; } = false;

    /// <summary>
    /// Iterates all files, copies them into a new stream and passes said stream to presentation logic
    /// </summary>
    private void OnFilesChanged(InputFileChangeEventArgs obj)
    {
    //PLEASE leave this as a Task.Run, otherwise copying the streams over will block the UI thread
    //indefinitely for no apparent reason
        Task.Run(async () =>
        {
            Logger.LogTrace("Entered OnFilesChanged in ContentFilesAdd");
            ToggleSpinner();
            Logger.LogTrace("Getting up to 10 files from InputFileChangeEventArgs");

            var files = obj.GetMultipleFiles();
            Logger.LogDebug("Got {FileCount} files from InputFileChangeEventArgs", files.Count);

            foreach (var file in files)
            {
                var fileEnding = file.Name.Split(".").Select(s => "." + s).LastOrDefault();
                if (fileEnding is null || !AllowedFileEndings.Endings.Contains(fileEnding.ToLowerInvariant()))
                {
                    await InvokeAsync(async () => await DialogService.ShowMessageBox("Unsupported file ending", $"The supplied file {file.Name} is not supported."));
                    continue;
                }
                await HandleFileAsync(file);
            }

            Logger.LogTrace("Rerendering ContentFilesContainer");
            if (ContentFilesContainer is null) throw new InvalidOperationException("ContentFilesContainer cascading parameter not set");
            await ContentFilesContainer.RerenderAsync();
            ToggleSpinner();
            ClearDragClass();
        });
    }

    private async Task HandleFileAsync(IBrowserFile file)
    {
        if (file.Size == 0)
        {
            Logger.LogTrace("File size is 0, skipping file {FileName}", file.Name);
    //we must run this on the UI thread, as it is a UI component
            await InvokeAsync(() =>
                DialogService.ShowMessageBox(Localizer["DialogService.MessageBox.Title"], Localizer["DialogService.MessageBox.Text", file.Name])
                );
            return;
        }

        Logger.LogTrace("Opening stream for file {FileName}, Filesize is {FileSize}", file.Name, file.Size);
        Stream stream;
        try
        {
            stream = file.OpenReadStream(1_000_000_000);
            Logger.LogTrace("BrowserFileStream opened");
        }
        catch (IOException)
        {
            ErrorService.SetError(Localizer["FileTooBig.Error.Title"], Localizer["FileTooBig.Error.Text"]);
            return;
        }
        Logger.LogTrace("Copying BrowserFileStream to MemoryStream");
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);
        await stream.DisposeAsync();

        Logger.LogTrace("Calling LoadLearningContentViewModel");
    //TODO: report when a file with same content already exists
        try
        {
            PresentationLogic.LoadLearningContentViewModel(file.Name, memoryStream);
        }
        catch (IOException e)
        {
            ErrorService.SetError("Error while loading content", e.Message);
        }
        Logger.LogTrace("LoadLearningContentViewModel returned");
    }

    private void ToggleSpinner()
    {
        Working = !Working;
        InvokeAsync(StateHasChanged);
    }

    private void SetDragClass()
    {
        DragClass = "mud-border-dashed mud-border-primary";
    }

    private void ClearDragClass()
    {
        DragClass = "";
    }

}