@using Presentation.PresentationLogic.API
@using Presentation.PresentationLogic.AuthoringToolWorkspace
@using Presentation.PresentationLogic.LearningContent
@using Presentation.PresentationLogic.LearningContent.FileContent
@using Presentation.PresentationLogic.LearningContent.LinkContent
@using Presentation.PresentationLogic.LearningElement
@using Presentation.PresentationLogic.LearningWorld
@using Presentation.PresentationLogic.Mediator
@using Microsoft.Extensions.Localization
@using System.Diagnostics.CodeAnalysis
@using Presentation.Components.Dialogues
@using System.Runtime.Serialization

<style type="text/css">  
   .mud-table-toolbar {
   padding:  0;
   margin:  0;
   }
   
   th.mud-table-cell {
   padding: 7px 0 0 0;
   }      
</style>

<MudTable Items="Items" Class="w-full h-full flex flex-col flex-nowrap mb-2 px-4 2xl:px-5"
          Virtualize="true" Filter="Filter" Hover="true" Striped="true" HeaderClass="table-head-bordered" CustomHeader="true" FixedHeader="true">
    <ToolBarContent>
        <div class="bg-adlerbgbright rounded-lg flex flex-row p-2 w-full">
            <p class="flex items-center text-sm 2xl:text-base font-bold leading-tight w-full">@Localizer["Header"]</p>
            <MudTextField @bind-Value="SearchString" Immediate="true" Placeholder="@Localizer["MudTextField.Search.Placeholder"]" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Outlined.Search"/>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTHeadRow Class="header-centered">
            <MudTh Class="pl-2 cursor-default">@Localizer["Content.MudTh.Delete"]</MudTh>
            <MudTh Class="px-2">
                <MudTableSortLabel InitialDirection="SortDirection.Ascending"
                                   SortBy="new Func<ILearningContentViewModel, object>(x => x.Name)">
                    @Localizer["Content.MudTh.Name"]
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ILearningContentViewModel, object>(TypeSortBy)">
                    @Localizer["Content.MudTh.Type"]
                </MudTableSortLabel>
            </MudTh>
            <MudTh Class="cursor-default text-center">@Localizer["Content.MudTh.NewElement"]</MudTh>
            <MudTh Class="cursor-default text-center">@Localizer["Content.MudTh.Preview"]</MudTh>
            @if (_showFilepath)
            {
                <MudTh>@Localizer["Content.MudTh.FilepathOrLink"]</MudTh>
            }
        </MudTHeadRow>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="py-0" DataLabel="Delete">
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Class="py-2" 
                           OnClick="() => Delete(context)"
                           Title="@Localizer["Content.MudTd.Delete"]"/>
        </MudTd>
        <MudTd Class="py-0" DataLabel="Name">
            <MudTooltip Text="@context.Name"
                        Arrow="true"
                        Placement="Placement.Right"
                        Class="bg-adlergrey-200 shadow-xl text-adlergrey-800"
                        Duration="Double.Epsilon">
                <p class="pt-2 cursor-default max-w-[5rem] truncate text-ellipsis overflow-hidden">@context.Name</p>
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="Type" Class="py-0 pl-0 cursor-default">
            @if (context is FileContentViewModel fileContentContext)
            {
                @fileContentContext.Type
            }
            else
            {
                <span>Link</span>
            }
        </MudTd>
        <MudTd Class="p-0">
            <MudIconButton Icon="@Icons.Material.Filled.Create"
                           Class="create-element-with-content py-2"
                           OnClick="() => NewElementWithContent(context)"
                           Title="@Localizer["Content.MudTd.NewElement"]"/>
        </MudTd>
        <MudTd Class="py-0">
            <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye"
                           Class="show-content-preview py-2"
                           OnClick="() => PresentationLogic.ShowLearningContentAsync(context)"
                           Title="@Localizer["Content.MudTd.Preview"]"/>
        </MudTd>
        @if (_showFilepath)
        {
            <MudTd Class="py-0" DataLabel="Filepath/Link">
                @switch (context)
                {
                    case FileContentViewModel fileContentContext:
                        @fileContentContext.Filepath
                        break;
                    case LinkContentViewModel linkContentContext:
                        @linkContentContext.Link
                        break;
                }
            </MudTd>
        }
    </RowTemplate>
    <PagerContent>
        <MudTablePager HideRowsPerPage="true" HorizontalAlignment="HorizontalAlignment.Center"/>
        <div class="w-full max-h-40% min-h-fit shrink grow flex flex-row items-center mb-2 justify-between">
            <div class="flex justify-center items-center">
                <MudSwitch Class="pl-2 w-12" @bind-Checked="_showFilepath" Color="Color.Info"></MudSwitch>
                <p class="text-xs flex justify-start">@Localizer["PagerContent.Filepath.Text"]</p>
            </div>
            <button @onclick="@OpenContentFilesFolder" class="relative btn-standard p-2 justify-end items-center shadow-lg">
                <MudIcon Icon="@Icons.Material.Filled.FolderOpen"></MudIcon>
                <p class="pl-1 font-bold uppercase">@Localizer["PagerContent.Button.Text"]</p>
            </button>
        </div>
            
    </PagerContent>
</MudTable>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IPresentationLogic PresentationLogic { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IDialogService DialogService { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IMediator Mediator { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IAuthoringToolWorkspaceViewModel WorkspaceViewModel { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IStringLocalizer<ContentFilesView> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IErrorService ErrorService { get; set; }

    private IEnumerable<ILearningContentViewModel> Items => PresentationLogic.GetAllContent();

    internal string? SearchString { get; set; }

    private bool _showFilepath;

    private object TypeSortBy(ILearningContentViewModel content) =>
        content is FileContentViewModel fc ? fc.Type : "Link";

    private bool Filter(ILearningContentViewModel element) =>
        FilterInternal(element, SearchString);

    private bool FilterInternal(ILearningContentViewModel element, string? searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        searchString = searchString.ToLowerInvariant();
        var elementType = element is FileContentViewModel fileContent ? fileContent.Type : "Link";
        if (element.Name.ToLowerInvariant().Contains(searchString) ||
            elementType.ToLowerInvariant().Contains(searchString))
            return true;
        return $"{element.Name}.{elementType}".ToLowerInvariant().Contains(searchString);
    }

    private async Task Delete(ILearningContentViewModel item)
    {
    //present "Delete/Cancel" dialog
        var parameters = new DialogParameters
        {
            { "SubmitButtonText", Localizer["Dialog.Delete.Button.Text"].ToString() },
            { "SubmitButtonColor", Color.Error },
            {
                "DialogText", Localizer["Dialog.Delete.DialogText", item.Name].ToString()
            },
        };
        var options = new DialogOptions
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            DisableBackdropClick = true,
        };
        var dialog = await DialogService.ShowAsync<GenericCancellationConfirmationDialog>(Localizer["TaskDelete.DialogService.Title"], parameters, options);
        var result = await dialog.Result;

        if (result.Canceled) return;

        var matches = WorkspaceViewModel.LearningWorlds
            .SelectMany(world => world.AllLearningElements
                .Where(element => element.LearningContent.Equals(item))
                .Select(el => (world, el)))
            .ToList();
        if (matches.Any())
        {
            if (await ShowContentInUseWarningAsync(item, matches, options)) return;
        }

    //not cancelled, delete content
        try
        {
            PresentationLogic.RemoveContent(item);
        }
        catch (ArgumentOutOfRangeException e)
        {
            ErrorService.SetError("Error deleting content", e.Message);
        }
        catch (FileNotFoundException e)
        {
            ErrorService.SetError("Error deleting content", e.Message);
        }
        catch (SerializationException e)
        {
            ErrorService.SetError("Error deleting content", e.Message);
        }
    }

    /// <summary>
    /// Shows the user a warning that the content that they are trying to delete is in use.
    /// </summary>
    /// <returns>True if the deletion should be cancelled, false otherwise.</returns>
    private async Task<bool> ShowContentInUseWarningAsync(ILearningContentViewModel item, IEnumerable<(ILearningWorldViewModel world, ILearningElementViewModel el)> matches, DialogOptions options)
    {
        DialogParameters parameters;
        parameters = new DialogParameters
        {
            { nameof(DeleteContentInUseConfirmationDialog.ContentName), item.Name },
            { nameof(DeleteContentInUseConfirmationDialog.WorldElementInUseTuples), matches }
        };
        var warningDialog =
            await DialogService.ShowAsync<DeleteContentInUseConfirmationDialog>(Localizer["WarningDialog.Title"],
                parameters, options);
        var warningResult = await warningDialog.Result;
        return warningResult.Canceled;
    }

    public async Task RerenderAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    private void OpenContentFilesFolder()
    {
        try
        {
            PresentationLogic.OpenContentFilesFolder();
        }
        catch (InvalidOperationException e)
        {
            ErrorService.SetError("Error opening content files folder", e.Message);
        }
    }

    private void NewElementWithContent(ILearningContentViewModel content)
    {
        PresentationLogic.SetSelectedLearningContentViewModel(content);
        Mediator.RequestOpenNewElementDialog();
    }

}