@using Microsoft.Extensions.Localization
@using Presentation.View
@using AuthoringTool.View.Shared
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] {typeof(MasterLayout).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>@Localizer["PageTitle"]</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@Localizer["Alert"]</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    [Inject]
    private IStringLocalizer<App> Localizer { get; set; }
}
