@using Presentation.PresentationLogic.LearningWorld
@using Presentation.PresentationLogic.SelectedViewModels
@using Shared
@using Presentation.PresentationLogic.LearningSpace
@using Presentation.Components.Forms.Models
@using Presentation.PresentationLogic.API
@using Presentation.PresentationLogic.LearningContent
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent
@using Presentation.PresentationLogic.LearningContent.FileContent
@using BusinessLogic.Entities
@using Microsoft.Extensions.Localization
@using System.Diagnostics.CodeAnalysis
@using Presentation.Components.Adaptivity.Dialogues
@using Presentation.Components.Forms.Buttons
<header class="m-2 rounded-lg">
    <div class="flex justify-center p-2">
        <h2 class="text-xl text-center font-bold text-adlergrey-500 mx-2">@(!AdaptivityElementMode ? Localizer["CreateElementForm.Header.Text"] : Localizer["CreateAdaptivityElementForm.Header.Text"])</h2>
    </div>
</header>
<MudDivider DividerType="DividerType.Middle" Class="mt-4 mb-2"></MudDivider>
<MudText Class="text-adlergrey-200 w-4/4 px-4 text-xs">@Localizer["CreateElementForm.Text"]</MudText>
<BaseForm TForm="LearningElementFormModel" TEntity="LearningElement"
          OnValidSubmit="OnValidSubmit"
          SnackbarMessage=@(!AdaptivityElementMode ? Localizer["CreateElementForm.SnackbarMessage"] : Localizer["CreateAdaptivityElementForm.SnackbarMessage"])
          FormDataContainer="FormDataContainer">
    <Fields>

        <Collapsable Title=@Localizer["CreateElementForm.Fields.Collapsable.General.Title"] @bind-Collapsed="_collapsedGeneral">
            <div class="rounded-lg w-4/4 px-4 pb-2">
                <MudTextField @bind-Value="FormDataContainer.FormModel.Name"
                              For="@(() => FormModel.Name)"
                              DebounceInterval="DebounceInterval"
                              Label=@Localizer["CreateElementForm.Fields.Collapsable.General.Field.Name.Text"]
                              Class="pb-4"/>

                <MudText Typo="Typo.caption">@Localizer["CreateElementForm.Fields.Collapsable.General.Field.Points.Text"]</MudText>
                <MudNumericField @bind-Value="FormDataContainer.FormModel.Points"
                                 Min="1"
                                 Max="1000"
                                 For="@(() => FormModel.Points)"
                                 DebounceInterval="DebounceInterval"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 Class="pb-4"/>

                <MudText Typo="Typo.caption">@Localizer["CreateElementForm.Fields.Collapsable.General.Field.Workload.Text"]</MudText>
                <MudNumericField @bind-Value="FormDataContainer.FormModel.Workload"
                                 Min="0"
                                 Max="1000"
                                 For="@(() => FormModel.Workload)"
                                 DebounceInterval="DebounceInterval"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 Class="pb-6"/>

                <MudSelect @bind-Value="FormDataContainer.FormModel.Difficulty"
                           Immediate="false"
                           Label="@Localizer["CreateElementForm.Fields.Collapsable.General.Field.Difficulty.Text"]"
                           For="@(() => FormModel.Difficulty)"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(LearningElementDifficultyEnum.Easy)">
                        <div class="flex flex-row items-center gap-2">
                            <MudIcon Class="flex w-8 h-6 drop-shadow px-1" Icon="@CustomIcons.DifficultyPolygonEasy"></MudIcon>@Localizer["CreateElementForm.Difficulty.Easy"]
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="@(LearningElementDifficultyEnum.Medium)">
                        <div class="flex flex-row items-center gap-2">
                            <MudIcon Class="flex w-8 h-6 drop-shadow px-1" Icon="@CustomIcons.DifficultyPolygonMedium"></MudIcon>@Localizer["CreateElementForm.Difficulty.Medium"]
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="@(LearningElementDifficultyEnum.Hard)">
                        <div class="flex flex-row items-center gap-2">
                            <MudIcon Class="flex w-8 h-6 drop-shadow px-1" Icon="@CustomIcons.DifficultyPolygonHard"></MudIcon>@Localizer["CreateElementForm.Difficulty.Hard"]
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="@(LearningElementDifficultyEnum.None)">@Localizer["CreateElementForm.Difficulty.None"]</MudSelectItem>
                </MudSelect>
            </div>
        </Collapsable>

        @if (!AdaptivityElementMode)
        {
            <Collapsable Style="" Title=@Localizer["CreateElementForm.Fields.Collapsable.LearningContent.Title"] @bind-Collapsed="_collapsedContent">
                <MudText Class="ml-4" Typo="Typo.caption">@Localizer["CreateElementForm.Fields.Collapsable.LearningContent.Text"]</MudText>
                <TableSelect
                    T="ILearningContentViewModel"
                    @bind-Value="FormDataContainer.FormModel.LearningContent"
                    For="@(() => FormModel.LearningContent)"
                    Elements="WorldPresenter.GetAllContent()"
                    FilterFuncSearchableStrings="ILearningContentViewModel.GetSearchableStrings">
                    <HeaderContent>
                        <MudTh></MudTh>
                        <MudTh>@Localizer["CreateElementForm.Fields.Collapse.LearningContent.Name"]</MudTh>
                        <MudTh>@Localizer["CreateElementForm.Fields.Collapse.LearningContent.Type"]</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd Class="px-1.5">
                            <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye"
                                           OnClick="() => PresentationLogic.ShowLearningContentAsync(context)"/>
                        </MudTd>
                        <MudTd Class="cursor-pointer" DataLabel="Name">@context.Name</MudTd>
                        <MudTd Class="cursor-pointer" DataLabel="Type">
                            @if (context is FileContentViewModel fileContentContext)
                            {
                                @fileContentContext.Type
                            }
                            else
                            {
                                <span>Link</span>
                            }
                        </MudTd>
                    </RowTemplate>
                </TableSelect>
            </Collapsable>
        }
        else
        {
            <Collapsable Style="" Title=@Localizer["CreateAdaptivityElementForm.Fields.Collapsable.Tasks.Title"] @bind-Collapsed="_collapsedTasks">
                <MudText Class="ml-4" Typo="Typo.caption">@Localizer["CreateAdaptivityElementForm.Fields.Collapsable.Tasks.Text"]</MudText><br/>
                <div class="flex flex-col items-center justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="OpenAdaptivityContentDialog">@Localizer["CreateAdaptivityElementForm.Fields.Collapsable.Tasks.Button.Text"]</MudButton>
                </div>
            </Collapsable>
        }

        <Collapsable Title=@Localizer["CreateElementForm.Fields.Collapsable.3DRepresentation.Title"] @bind-Collapsed="_collapsedElementModel">
            <div class="rounded-lg w-4/4 px-4 pb-4">
                <ElementModelGridSelect @bind-Value="FormDataContainer.FormModel.ElementModel"
                                        For="@(() => FormModel.ElementModel)"
                                        Label="@Localizer["CreateElementForm.Fields.Collapsable.3DRepresentation.Field.3DRepresentation.Text"]"
                                        Elements="ElementModelHandler.GetElementModels(FormDataContainer.FormModel.LearningContent, SelectedViewModelsProvider.LearningObjectInPathWay is LearningSpaceViewModel space ? space.Theme : null)">
                </ElementModelGridSelect>
            </div>
        </Collapsable>

        <Collapsable Title=@Localizer["CreateElementForm.Fields.Collapsable.Goals.Title"] @bind-Collapsed="_collapsedGoals">
            <div class="rounded-lg w-4/4 px-4">
                <MudText Typo="Typo.caption">@Localizer["CreateElementForm.Fields.Collapsable.Goals.Field.Description.Text"]</MudText>
                <MudTextField @bind-Value="FormDataContainer.FormModel.Description"
                              For="@(() => FormModel.Description)"
                              Lines="3"
                              Variant="Variant.Outlined"
                              DebounceInterval="DebounceInterval"
                              Class="pb-4 mt-0"/>
                <MudText Typo="Typo.caption">@Localizer["CreateElementForm.Fields.Collapsable.Goals.Field.Goals.Text"]</MudText>
                <MudTextField @bind-Value="FormDataContainer.FormModel.Goals"
                              For="@(() => FormModel.Goals)"
                              Lines="3"
                              Variant="Variant.Outlined"
                              DebounceInterval="DebounceInterval"
                              Class="pb-2 mt-0"/>
            </div>
        </Collapsable>

    </Fields>
    <FooterButtons>
        <DefaultSubmitButton/>
    </FooterButtons>
</BaseForm>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal ILearningWorldPresenter WorldPresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal ILearningSpacePresenter SpacePresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal ISelectedViewModelsProvider SelectedViewModelsProvider { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IFormDataContainer<LearningElementFormModel, LearningElement> FormDataContainer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IElementModelHandler ElementModelHandler { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IStringLocalizer<CreateElementForm> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IPresentationLogic PresentationLogic { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IDialogService DialogService { get; set; }

    [Parameter]
    public EventCallback OnSubmitted { get; set; }

    [Parameter]
    public int DebounceInterval { get; set; } = 300;

    [Parameter]
    public bool AdaptivityElementMode { get; set; }


    private LearningElementFormModel FormModel => FormDataContainer.FormModel;

    private bool _collapsedGeneral = false;
    private bool _collapsedContent = false;
    private bool _collapsedTasks = false;
    private bool _collapsedElementModel = true;
    private bool _collapsedGoals = true;

    private void OnValidSubmit(LearningElementFormModel model)
    {
    //check content for not null again even though validation ensures that LearningContent is not null
    //because of a non-reproducible bug where an element without content was able to be created - m.ho, n.stich
        if (model.LearningContent == null)
            throw new InvalidOperationException("No learning content selected - validation let no content pass");

        if (SelectedViewModelsProvider.ActiveSlotInSpace == -1)
            WorldPresenter.CreateUnplacedLearningElement(
                model.Name, model.LearningContent, model.Description, model.Goals, model.Difficulty, model.ElementModel,
                model.Workload, model.Points);
        else
        {
            SpacePresenter.CreateLearningElementInSlot(
                model.Name, model.LearningContent, model.Description, model.Goals, model.Difficulty, model.ElementModel,
                model.Workload, model.Points);
        }
        OnSubmitted.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (AdaptivityElementMode)
        {
            FormDataContainer.FormModel.LearningContent = new AdaptivityContentViewModel();
            return;
        }
        if (SelectedViewModelsProvider.LearningContent == null) return;
        FormDataContainer.FormModel.LearningContent = SelectedViewModelsProvider.LearningContent;
        SelectedViewModelsProvider.SetLearningContent(null, null);
    }

    private async void OpenAdaptivityContentDialog()
    {
        var options = new DialogOptions
        {
            DisableBackdropClick = false,
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
        };
        var parameters = new DialogParameters
        {
            {nameof(AdaptivityContentDialog.MyContent), FormDataContainer.FormModel.LearningContent}
        };
        var dialog = await DialogService.ShowAsync<AdaptivityContentDialog>("AdaptivityContentDialogTitle", parameters, options);
        _ = await dialog.Result;
        StateHasChanged();
    }

}