@using Presentation.PresentationLogic.API
@using Shared.Configuration
@using Microsoft.Extensions.Localization
@using Presentation.PresentationLogic
@using BusinessLogic.ErrorManagement.BackendAccess
@using System.Diagnostics.CodeAnalysis
<MudDialog Class="relative flex rounded-lg bg-gradient-to-br from-adlerbggradientfrom to-adlerbggradientto w-[420px] h-[400px]">
    <TitleContent>
        <div class="flex flex-row gap-3 justify-center items-center">
            @* ReSharper disable Html.PathError *@
            <img class="w-14 h-14" src="CustomIcons/moodle-icon-darkblue-nobg.png" alt="moodle-icon"/>
            @* ReSharper restore Html.PathError *@
            <p class="text-xl flex justify-center font-bold text-adlerdarkblue">@Localizer["Header.Moodle.Text"]</p>
        </div>
    </TitleContent>
    <DialogContent>
        @if (_isLmsConnected)
        {
            <div class="logged-in-container flex flex-col justify-center py-7">
                <p class="flex justify-center font-bold text-2xl text-adlerdarkblue-200 opacity-50">@Localizer["DialogContent.LoggedIn.Header"]</p>
                <div class="flex flex-row gap-1.5 justify-center">
                    <p class="text-lg text-adlergrey-700">@Localizer["DialogContent.LoggedIn.Message"]</p>
                    <p class="text-lg text-adlerblue-700">@PresentationLogic.LoginName</p>
                </div>
                <MudButton Variant="Variant.Filled" Class="mt-12 btn-standard mx-28 place-items-center" title=@Localizer["DialogContent.Button.Logout.Title"] OnClick="Logout">@Localizer["DialogContent.Button.Logout"]</MudButton>

                <h3> My Moodle Worlds</h3>
                <MudList>
                    @foreach (var lmsWorld in _lmsWorldList)
                    {
                        <MudListItem>
                            @lmsWorld.WorldName <MudIconButton OnClick="() => DeleteLmsWorld(lmsWorld)" Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                        </MudListItem>
                    }
                </MudList>
            </div>
        }
        else
        {
            @if (_spinnerActive)
            {
                <div class="w-full h-full absolute bg-adlergrey-100 bg-opacity-25 z-40">
                </div>
                <MudProgressCircular Indeterminate="true" Class="z-40 m-auto absolute top-0 bottom-0 left-0 right-0"
                                     Color="Color.Primary" Size="Size.Large"/>
            }
            <div class="flex flex-col">
                <MudForm>
                    <div class="flex flex-col">
                        <MudTextField @bind-Value="_backendUrl" Label=@Localizer["DialogContent.Field.BackendUrl"] Required="true"/>
                        @if (_errorInvalidUrlMessage != "")
                        {
                            <MudText Color="Color.Error" Typo="Typo.subtitle2">@_errorInvalidUrlMessage</MudText>
                        }
                        <MudTextField @bind-Value="_username" Label=@Localizer["DialogContent.Field.Username"] Required="true"/>
                        <MudTextField @bind-Value="_password" Label=@Localizer["DialogContent.Field.Password"] OnKeyPress="OnKeyPress"
                                      InputType=@PasswordInputType Adornment="Adornment.End" AdornmentIcon=@ShowPasswordIcon
                                      OnAdornmentClick="() => _isPasswordVisible = !_isPasswordVisible"
                                      AdornmentAriaLabel=@Localizer["DialogContent.Button.ShowPassword"] Required="true"/>
                        @if (_showErrorInvalidCredentials)
                        {
                            <MudText Class="invalid-login-error" Color="Color.Error" Typo="Typo.subtitle2">
                                @Localizer["DialogContent.Error.WrongUserOrPassword"]
                            </MudText>
                        }
                        @if (_showErrorApiUnreachable)
                        {
                            <MudText Class="invalid-login-error" Color="Color.Error" Typo="Typo.subtitle2">
                                @Localizer["DialogContent.Error.APIUnreachable"]
                            </MudText>
                        }
                        @if (_showErrorTokenInvalid)
                        {
                            <MudText Class="invalid-login-error" Color="Color.Error" Typo="Typo.subtitle2">
                                @Localizer["DialogContent.Error.TokenInvalid"]
                            </MudText>
                        }
                    </div>
                    <div class="flex flex-col">
                        <!--TODO: Password reset link and API link should be set in the config - we need a proper configuration dialog -->
                        <a href="https://moodle.projekt-adler.eu/login/forgot_password.php" target="_blank" title=@Localizer["DialogContent.Button.ForgotPassword.Title"] class="pb-2">
                            @Localizer["DialogContent.Button.ForgotPassword"]
                        </a>
                        <MudButton Variant="Variant.Filled" Class="mt-6 btn-standard mx-28" OnClick="SubmitForm" title=@Localizer["DialogContent.Button.Login.Title"]>@Localizer["DialogContent.Button.Login"]</MudButton>
                    </div>

                </MudForm>
            </div>
        }
    </DialogContent>
</MudDialog>


@code {

    [CascadingParameter]
    MudDialogInstance? MudDialog { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IPresentationLogic PresentationLogic { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IApplicationConfiguration Configuration { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IStringLocalizer<LmsLoginDialog> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private ILogger<LmsLoginDialog> Logger { get; set; }

    private string _backendUrl = "";
    private string _username = "";
    private string _password = "";
    private string _errorInvalidUrlMessage = "";
    private bool _showErrorInvalidCredentials = false;
    private bool _showErrorApiUnreachable = false;
    private bool _isLmsConnected = false;

    private bool _isPasswordVisible = false;
    private bool _showErrorTokenInvalid = false;
    private bool _spinnerActive = false;
    private InputType PasswordInputType => _isPasswordVisible ? InputType.Text : InputType.Password;
    private string ShowPasswordIcon => _isPasswordVisible ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;

    private static DialogOptions Options => new() { CloseOnEscapeKey = true, CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true };

    private List<LmsWorldViewModel> _lmsWorldList = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _backendUrl = Configuration[IApplicationConfiguration.BackendBaseUrl];
        _errorInvalidUrlMessage = "";
        _username = Configuration[IApplicationConfiguration.BackendUsername];
        _password = "";
        _showErrorInvalidCredentials = false;
        _isLmsConnected = false;
        UpdateLmsIsConnected();
        MudDialog?.SetOptions(Options);
    }

    private async void UpdateLmsIsConnected()
    {
        try
        {
            StartSpinner();
            _isLmsConnected = await PresentationLogic.IsLmsConnected();
        }
        catch (BackendApiUnreachableException)
        {
            _showErrorApiUnreachable = true;
        }
        catch (BackendInvalidTokenException)
        {
            _showErrorTokenInvalid = true;
            Logout();
        }
        finally
        {
            StopSpinner();
            StateHasChanged();
        }
        if (_isLmsConnected) RefreshLmsWorldList();
    }

    private void StartSpinner() => _spinnerActive = true;
    private void StopSpinner() => _spinnerActive = false;

    private async void SubmitForm()
    {
    //TODO: redo form as MudForm with proper validation
        if (_backendUrl == "" || _username == "" || _password == "") return;
        if (!_backendUrl.StartsWith("http://") && !_backendUrl.StartsWith("https://"))
        {
            _errorInvalidUrlMessage = Localizer["DialogContent.Error.ProtocolMissing"];
            return;
        }
        Configuration[IApplicationConfiguration.BackendBaseUrl] = _backendUrl;
        Configuration[IApplicationConfiguration.BackendUsername] = _username;
        try
        {
            StartSpinner();
            await LoginAsync();
        }
        catch (BackendInvalidLoginException)
        {
            HandleInvalidLoginException();
        }
        catch (BackendInvalidUrlException e)
        {
            HandleInvalidUrlException(e);
        }
        catch (BackendApiUnreachableException)
        {
            _showErrorApiUnreachable = true;
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Error from Backend_GetUserTokenAsync");
        }
        finally
        {
            StopSpinner();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task LoginAsync()
    {
        await PresentationLogic.Login(_username, _password);
        _showErrorInvalidCredentials = false;
        _showErrorApiUnreachable = false;
        _showErrorTokenInvalid = false;
        _errorInvalidUrlMessage = "";
        UpdateLmsIsConnected();
    }

    private void Logout()
    {
        PresentationLogic.Logout();
        UpdateLmsIsConnected();
    }

    private async void RefreshLmsWorldList()
    {
        var courseList = await PresentationLogic.GetLmsWorldList();
        _lmsWorldList = courseList;
        await InvokeAsync(StateHasChanged);
    }

    private async Task DeleteLmsWorld(LmsWorldViewModel world)
    {
        await PresentationLogic.DeleteLmsWorld(world);
        RefreshLmsWorldList();
    }

    private void HandleInvalidLoginException()
    {
        _showErrorInvalidCredentials = true;
        _errorInvalidUrlMessage = "";
        _password = "";
        StateHasChanged();
    }

    // ReSharper disable once SuggestBaseTypeForParameter
    private void HandleInvalidUrlException(BackendInvalidUrlException e)
    {
        _showErrorInvalidCredentials = false;
        _errorInvalidUrlMessage = e.Message;
        StateHasChanged();
    }

    private void OnKeyPress(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter")
        {
            SubmitForm();
        }
    }

}