@using Presentation.PresentationLogic.API
@using Microsoft.Extensions.Localization
@if (_isLmsConnected)
{
    <h3>@Localizer["Header.Logout.Text"]</h3>
}
else
{
    <h3>@Localizer["Header.Login.Text"]</h3>
}

<MudDialog Options="new DialogOptions() {CloseOnEscapeKey = true}">
    <DialogContent>
        @if (_isLmsConnected)
        {
            <MudText>@Localizer["DialogContent.LoggedIn.Message", PresentationLogic.LoginName]</MudText>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Logout">@Localizer["DialogContent.Button.Logout"]</MudButton>
        }
        else
        {
            <MudForm>
                <MudTextField @bind-Value="_username" Label=@Localizer["DialogContent.Field.Username"]/>
                <MudTextField @bind-Value="_password" Label=@Localizer["DialogContent.Field.Password"] InputType="InputType.Password"/>
                @if (_showError)
                {
                    <MudText>@Localizer["DialogContent.Error.WrongUserORPassword"]</MudText>
                }
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SubmitForm">@Localizer["DialogContent.Button.Login"]</MudButton>
            </MudForm>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined" OnClick="Cancel">@Localizer["DialogContent.Button.Cancel"]</MudButton>
    </DialogActions>

</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    

    [Inject]
    public IPresentationLogic PresentationLogic { get; set; }
    [Inject]
    private StringLocalizer<LmsLoginDialog> Localizer { get; set; }

    private string _username = "";
    private string _password = "";
    private bool _showError = false;
    private bool _isLmsConnected = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _username = "";
        _password = "";
        _showError = false;
        _isLmsConnected = false;
        CheckIfLmsIsConnected();
    }

    private async void CheckIfLmsIsConnected()
    {
        _isLmsConnected = await PresentationLogic.IsLmsConnected();
        StateHasChanged();
    }

    private async void SubmitForm()
    {
        if (_username == "" || _password == "") return;
        var success = await PresentationLogic.Login(_username, _password);
        if (success)
        {
            _showError = false;
            CheckIfLmsIsConnected();
        }
        else
        {
            _showError = true;
            _password = "";
            StateHasChanged();
        }
    }

    private void Logout()
    {
        PresentationLogic.Logout();
        CheckIfLmsIsConnected();
    }

    void Cancel()
    {
        _isLmsConnected = false;
        MudDialog.Cancel();
    }

}