@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@namespace AuthoringTool.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<LayoutModel> Localizer



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    @* ReSharper disable once Html.PathError - n.stich *@
    <link href="css/site.css" rel="stylesheet"/>
    <link href="css/Presentation.global.css" rel="stylesheet"/>
    @* ReSharper disable Html.PathError *@
    <link href="AuthoringTool.styles.css" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    @* ReSharper restore Html.PathError *@
    <link href="css/output.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    <title>@Localizer["Header.Title"]</title>
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        @Localizer["Environment.Exception.Staging"]
    </environment>
    <environment include="Development">
        @Localizer["Environment.Exception.Development"]
    </environment>
    <a href="" class="reload">@Localizer["Functionality.Reload.Text"]</a>
    <a class="dismiss">🗙</a>
</div>

@* ReSharper disable Html.PathError - n.stich*@
<script src="_framework/blazor.server.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="script.js"></script> <!-- JavaScript einfügen -->
<!--Zwecks Ablageort der Scripte siehe: https://projektadler.github.io/Documentation/h5p-player.html-->
<script src="./H5pStandalone/main.bundle.js"></script>
<script src="./H5pStandalone/h5p-standalone-api.js"></script>
@* ReSharper restore Html.PathError *@
</body>
</html>
