@page
@using AuthoringTool.Pages
@using Microsoft.Extensions.Localization
@model AuthoringTool.Pages.ErrorModel
@inject IStringLocalizer<ErrorModel> Localizer


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>@Localizer["Alert.Error.Header.Title"]</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
</head>

<body>
<div class="main">
    <div class="content px-4">
        <h1 class="text-danger">@Localizer["Alert.Error.Text1"]</h1>
        <h2 class="text-danger">@Localizer["Alert.Error.Text2"]</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>@Localizer["Alert.Error.RequestID.Text"]</strong> <code>@Model.RequestId</code>
            </p>
        }

        <h3>@Localizer["Alert.Error.Development.Header.Text"]</h3>
        <p>
            @Localizer["Alert.Error.Development.p1.Text.Normal1"] <strong>@Localizer["Alert.Error.Development.p1.Text.Strong"]</strong> @Localizer["Alert.Error.Development.p1.Text.Normal2"]
        </p>
        <p>
            <strong>@Localizer["Alert.Error.Development.p2.Text.Strong1"]</strong>
            @Localizer["Alert.Error.Development.p2.Text.Normal1"]
            @Localizer["Alert.Error.Development.p2.Text.Normal2"] <strong>@Localizer["Alert.Error.Development.p2.Text.Strong2"]</strong> @Localizer["Alert.Error.Development.p2.Text.Normal3"] <strong>@Localizer["Alert.Error.Development.p2.Text.Strong3"]</strong> @Localizer["Alert.Error.Development.p2.Text.Normal4"] <strong>@Localizer["Alert.Error.Development.p2.Text.Strong4"]</strong>
            @Localizer["Alert.Error.Development.p2.Text.Normal5"]
        </p>
    </div>
</div>
</body>

</html>


