@page "/"
@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> Localizer

<PageTitle>Start</PageTitle>

<h1>@Localizer["Heading"]</h1>
<p>@Localizer["CurrentCulture"]: @CultureInfo.CurrentCulture</p>
<p>@Localizer["CurrentUICulture"]: @CultureInfo.CurrentUICulture</p>

@Localizer["Explanation"]