@using Presentation.PresentationLogic.LearningWorld
@using Presentation.PresentationLogic.SelectedViewModels
@using Shared
@using Microsoft.Extensions.Localization
@using Presentation.Components
@using Presentation.PresentationLogic
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent
@using Presentation.PresentationLogic.LearningContent.FileContent
@using Presentation.PresentationLogic.LearningContent.LinkContent
@using Presentation.PresentationLogic.LearningElement
@using Presentation.PresentationLogic.LearningSpace
@using System.ComponentModel
@using System.Diagnostics.CodeAnalysis
@if (LearningWorldP.LearningWorldVm != null)
{
    <div class="flex flex-col h-full grow">
        <article class="flex flex-col justify-content mb-2 cursor-default">
            <section class="bg-adlerbgbright rounded p-2 w-full grow">
                <div class="flex justify-start items-center space-x-2 py-1">
                    <img src="CustomIcons/World/world-icon.png" alt="world" class="opacity-50 w-7 h-7">
                    <p class="text-base 2xl:text-lg font-bold opacity-80 text-adlerdarkblue-800 truncate hover:text-clip"> @LearningWorldP.LearningWorldVm?.Name</p>
                </div>
                <p class="text-sm 2xl:text-base text-adlerblue-600">
                    <span class="text-adlergrey-600">@Localizer["OverView.Workload"] </span> @LearningWorldP.LearningWorldVm?.Workload<span class="text-adlergrey-600"> @Localizer["OverView.Workload.TimeScale"]</span>
                </p>
                <p class="text-sm 2xl:text-base text-adlerblue-600">
                    <span class="text-adlergrey-600">@Localizer["OverView.Points"] </span> @LearningWorldP.LearningWorldVm?.Points<span class="text-adlergrey-600"> @Localizer["LearningWorldTreeView.Points.Summary"]</span>
                </p>
            </section>
        </article>
        <section class="bg-white rounded w-full overflow-scroll grow pt-2">
            <MudTreeView Hover="true" Class="mud-width-full" T="string" >

                @if (LearningWorldP.LearningWorldVm is {LearningSpaces.Count: > 0 })
                {
                    @foreach (var learningSpace in GetLearningSpacesInOrder(LearningWorldP.LearningWorldVm.ObjectsInPathWays))
                    {
                        <div class="text-adlergrey-700">
                            <MudTreeViewItem TextClass="text-sm 2xl:text-base" Class="break-words" Value="@learningSpace.Name" OnClick="() => OnSpaceClicked(learningSpace)" Icon="@SpaceIcon">
                                @foreach (var element in FloorPlanElementSorter.GetElementsInOrder(learningSpace.LearningSpaceLayout.LearningElements, learningSpace.LearningSpaceLayout.FloorPlanName))
                                {
                                    <div class="flex flex-row gap-2 pl-12 py-2" @onclick="() => OnElementClicked(element)">
                                        <MudIcon Icon="@GetElementIcon(element)" Class="w-4 h-4 2xl:w-5 2xl:h-5"></MudIcon>
                                        <MudText Class="text-sm 2xl:text-base break-normal">@element.Name</MudText>
                                    </div>
                                }
                            </MudTreeViewItem>
                        </div>
                    }
                }
            </MudTreeView>
        </section>
    </div>
}

@code{
}

@code {
    //Hierarchical view of the learning world
    //Formerly known as LearningWorldOverView

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public ILearningWorldPresenterOverviewInterface LearningWorldP { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IStringLocalizer<LearningWorldTreeView> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public ISelectedViewModelsProvider SelectedViewModelsProvider { get; set; }

    private static string SpaceIcon { get; set; } = CustomIcons.SpaceIcon;
    private Color Color { get; set; } = Color.Info;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        LearningWorldP.PropertyChanging += OnLearningWorldPresenterPropertyChanging;
        LearningWorldP.PropertyChanged += OnLearningWorldPresenterPropertyChanged;
        LearningWorldP.OnCommandUndoRedoOrExecute += async (_, _) => await InvokeAsync(StateHasChanged);
    }

    private string GetElementIcon(ILearningElementViewModel element)
    {
        return element.LearningContent switch
        {
            ILinkContentViewModel => CustomIcons.VideoElementIcon,
            IFileContentViewModel { Type: "png" or "jpg" or "bmp" or "webp" or "jpeg" } => CustomIcons.ImageElementIcon,
            IFileContentViewModel
            {
                Type: "txt" or "c" or "h" or "cpp" or "cc" or "c++" or "py" or
                    "js" or "php" or "html" or "css"
                } => CustomIcons.TextElementIcon,
            IFileContentViewModel { Type: "h5p" } => CustomIcons.H5PElementIcon,
            IFileContentViewModel { Type: "pdf" } => CustomIcons.TextElementIcon,
            IAdaptivityContentViewModel => CustomIcons.AdaptivityElementIcon,
            _ => ""
            };
    }

    /// <summary>
    /// Determines the order of learning spaces based on the provided paths and returns them as a list.
    ///
    /// This algorithm uses a Breadth-First Search (BFS) approach to ensure that spaces residing on the same "level"
    /// are consecutive in the resulting list. Spaces without outgoing or incoming paths are appended at the end of the list.
    ///
    /// Spaces from the same path are ordered alphabetically.
    ///
    /// Note: This algorithm is also utilized in the "CreateATF" class. Changes made here should be reflected there as well.
    /// </summary>
    /// <param name="objectInPathWayViewModels">The collection of path object view models used to determine the order.</param>
    /// <returns>A sorted list of learning space view models based on the provided paths.</returns>
    private List<ILearningSpaceViewModel> GetLearningSpacesInOrder(IEnumerable<IObjectInPathWayViewModel> objectInPathWayViewModels)
    {
        var objectInPathWayList = objectInPathWayViewModels.ToList();
        var startObjects = objectInPathWayList.Where(x => x.InBoundObjects.Count == 0 && x is LearningSpaceViewModel && x.OutBoundObjects.Count > 0).ToList();

        var visited = new HashSet<IObjectInPathWayViewModel>();
        var pathOrder = new List<ILearningSpaceViewModel>();
        var queue = new Queue<IObjectInPathWayViewModel>();

        foreach (var startObject in startObjects)
        {
            queue.Enqueue(startObject);
        }

        while (queue.Count > 0)
        {
            var current = queue.Dequeue();

            if (visited.Contains(current))
                continue;

            visited.Add(current);

            if (current is ILearningSpaceViewModel learningSpace)
            {
                pathOrder.Add(learningSpace);
            }

            foreach (var nextObject in current.OutBoundObjects.OrderBy(o => o is LearningSpaceViewModel lsvm ? lsvm.Name : string.Empty))
            {
                queue.Enqueue(nextObject);
            }
        }

        var spacesWithOutPaths = objectInPathWayList.Where(x => x.InBoundObjects.Count == 0 && x is ILearningSpaceViewModel && x.OutBoundObjects.Count == 0).Cast<ILearningSpaceViewModel>().ToList();

        pathOrder.AddRange(spacesWithOutPaths);
        return pathOrder;
    }


    private void OnElementClicked(ILearningElementViewModel element)
    {
        LearningWorldP.SetSelectedLearningElement(element);
    }

    private void OnSpaceClicked(ILearningSpaceViewModel space)
    {
        LearningWorldP.SetSelectedLearningSpace(space);
    }

    private void TriggerStateHasChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private void OnLearningWorldViewModelPropertyChanged(object? sender, PropertyChangedEventArgs args)
    {
        TriggerStateHasChanged();
    }

    private void OnLearningWorldPresenterPropertyChanged(object? sender, PropertyChangedEventArgs args)
    {
        if (args.PropertyName == nameof(LearningWorldP.LearningWorldVm) && LearningWorldP.LearningWorldVm != null)
        {
            LearningWorldP.LearningWorldVm.PropertyChanged += OnLearningWorldViewModelPropertyChanged;
        }
        TriggerStateHasChanged();
    }

    private void OnLearningWorldPresenterPropertyChanging(object? sender, PropertyChangingEventArgs args)
    {
        if (args.PropertyName == nameof(LearningWorldP.LearningWorldVm) && LearningWorldP.LearningWorldVm != null)
        {
            LearningWorldP.LearningWorldVm.PropertyChanged -= OnLearningWorldViewModelPropertyChanged;
        }
    }

}