@using AuthoringTool.PresentationLogic.AuthoringToolWorkspace
@using AuthoringTool.PresentationLogic.LearningElement
@using AuthoringTool.PresentationLogic.LearningSpace
@using AuthoringTool.PresentationLogic.LearningWorld
@using AuthoringTool.Components
@using AuthoringTool.Components.ModalDialog
@using AuthoringTool.PresentationLogic.LearningElement.ActivationElement
@using AuthoringTool.PresentationLogic.LearningElement.InteractionElement
@using AuthoringTool.PresentationLogic.LearningElement.TestElement
@using AuthoringTool.PresentationLogic.LearningElement.TransferElement
@using AuthoringTool.PresentationLogic.ModalDialog
@using AuthoringTool.View.LearningSpace
@using AuthoringTool.View.LearningElement

<h2>World: @LearningWorldP.LearningWorldVm?.Name</h2>
@ChildContent
@if (LearningWorldP.ShowingLearningSpaceView)
{
    <LearningSpaceView>
        <button class="btn btn-primary" @onclick="CloseLearningSpaceView">Close Learning Space View</button>
    </LearningSpaceView>
}
else
{
    <h5>Workload: @LearningWorldP.LearningWorldVm?.Workload minutes</h5>
    <button class="btn btn-primary" @onclick="AddNewLearningSpace">Add Learning Space</button>
    <button class="btn btn-primary" @onclick="LoadLearningSpaceAsync">Load Learning Space</button>
    @if (LearningWorldP.CreateLearningSpaceDialogueOpen)
    {
        @ModalDialogFactory.GetCreateLearningSpaceFragment(OnCreateSpaceDialogClose);
    }
    <button class="btn btn-primary" @onclick="AddNewLearningElement">Add Learning Element</button>
    <button class="btn btn-primary" @onclick="LoadLearningElementAsync">Load Learning Element</button>
    @if (LearningWorldP.CreateLearningElementDialogOpen)
    {
        <!-- LearningWorld can't be null at this point - n.stich -->
        @ModalDialogFactory.GetCreateLearningElementFragment(LearningWorldP.DragAndDropLearningContent,
            LearningWorldP.LearningWorldVm!.LearningSpaces, LearningWorldP.LearningWorldVm.Name, OnCreateElementDialogClose);
    }
    <br>

    @if (LearningWorldP.LearningWorldVm?.SelectedLearningObject != null)
    {
        <label>
            Selected element:
            <text>
                @LearningWorldP.LearningWorldVm.SelectedLearningObject.Name
                , Description:
                @LearningWorldP.LearningWorldVm.SelectedLearningObject.Description
            </text>
        </label>
        <br>
        <button class="btn btn-primary" @onclick="EditLearningObject">Edit selected Learning Object</button>
        <button class="btn btn-primary" @onclick="DeleteSelectedLearningObject">Delete Learning Object</button>
        <button class="btn btn-primary" @onclick="SaveSelectedLearningObjectAsync">Save selected Learning Object</button>
        <button class="btn btn-primary" @onclick="ShowSelectedLearningSpaceView"
                hidden="@(!LearningWorldP.SelectedLearningObjectIsSpace)">Open selected Learning Space</button>
    }
    <svg style="width: 100%; height: 600px; border: 1px solid green"
         xmlns="http://www.w3.org/2000/svg"
         @onmousemove=@(e => MouseService.FireMove(this, e))
             @onmouseup=@(e => MouseService.FireUp(this, e))
             @onmouseleave=@(() => MouseService.FireOut(this, null))>
        @if (LearningWorldP.LearningWorldVm != null)
        {
            @foreach (var learningObject in LearningWorldP.LearningWorldVm.LearningObjects)
            {
                @switch (learningObject)
                {
                    case LearningElementViewModel learningElementViewModel:
                        <DraggableLearningElement LearningElement="learningElementViewModel"
                                                  OnClicked="@LearningWorldP.SetSelectedLearningObject"/>
                        break;
                    case LearningSpaceViewModel learningSpaceViewModel:
                        <DraggableLearningSpace LearningSpace="learningSpaceViewModel"
                                                OnClicked="@LearningWorldP.SetSelectedLearningObject"/>
                        break;
                }
            }
        }
    </svg>
    @if (LearningWorldP.EditLearningSpaceDialogOpen && LearningWorldP.LearningWorldVm != null)
    {
        <!-- EditSpaceDialogInitialValues is set by presenter before setting EditLearningSpaceDialogOpen to true -->
        @ModalDialogFactory.GetEditLearningSpaceFragment(LearningWorldP.EditSpaceDialogInitialValues!, OnEditSpaceDialogClose)
    }

    @if (LearningWorldP.EditLearningElementDialogOpen && LearningWorldP.LearningWorldVm != null)
    {
        <!-- EditElementDialogInitialValues is set by presenter before setting EditLearningElementDialogOpen to true -->
        @ModalDialogFactory.GetEditLearningElementFragment(LearningWorldP.EditElementDialogInitialValues!, OnEditElementDialogClose)
    }

    @if (ErrorState != null)
    {
        <ModalDialog Title="Exception encountered" Text=@ErrorState.ToString()
                     OnClose="@(_ => { ErrorState = null; })" DialogType=@ModalDialogType.Ok/>
    }
}

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

#pragma warning disable CS8618 injected by framework - n.stich
    [Inject]
    public IMouseService MouseService { get; set; }
    
    [Inject]
    public ILearningWorldPresenter LearningWorldP { get; set; }
    
    [Inject]
    public ILearningWorldViewModalDialogFactory ModalDialogFactory { get; set; }
#pragma warning restore CS8618
    
    private ExceptionWrapper? ErrorState { get; set; }


    private void AddNewLearningSpace()
    {
        LearningWorldP.CreateLearningSpaceDialogueOpen = true;
    }

    private void AddNewLearningElement()
    {
        LearningWorldP.CreateLearningElementDialogOpen = true;
    }

    private void DeleteSelectedLearningObject()
    {
        LearningWorldP.DeleteSelectedLearningObject();
    }

    private async Task LoadLearningSpaceAsync()
    {
        try
        {
            await LearningWorldP.LoadLearningSpace();
        }
        catch (OperationCanceledException)
        {
    //nothing to do, show notification?
        }
        catch (Exception exception)
        {
            ErrorState = new ExceptionWrapper("Load learning space", exception);
        }
        finally
        {
    //we need to tell blazor explicitly to re-render our component after we added the loaded learning object
            StateHasChanged();
        }
    }

    private async Task LoadLearningElementAsync()
    {
        try
        {
            await LearningWorldP.LoadLearningElement();
        }
        catch (OperationCanceledException)
        {
    //nothing to do, show notification?
        }
        catch (Exception exception)
        {
            ErrorState = new ExceptionWrapper("Load learning element", exception);
        }
        finally
        {
    //we need to tell blazor explicitly to re-render our component after we added the loaded learning object
            StateHasChanged();
        }
    }

    private async Task SaveSelectedLearningObjectAsync()
    {
        try
        {
            await LearningWorldP.SaveSelectedLearningObjectAsync();
        }
        catch (OperationCanceledException)
        {
    //nothing to do, show notification?
        }
        catch (Exception exception)
        {
            ErrorState = new ExceptionWrapper("Save learning object", exception);
        }
        finally
        {
    //we need to tell blazor explicitly to re-render our component after we added the loaded learning object
            StateHasChanged();
        }
    }

    private void OnCreateSpaceDialogClose(ModalDialogOnCloseResult returnValueTuple)
    {
        LearningWorldP.OnCreateSpaceDialogClose(returnValueTuple);
        StateHasChanged();
    }

    private void OnCreateElementDialogClose(ModalDialogOnCloseResult returnValueTuple)
    {
        LearningWorldP.OnCreateElementDialogClose(returnValueTuple);
        StateHasChanged();
    }

    private void EditLearningObject()
    {
        LearningWorldP.OpenEditSelectedLearningObjectDialog();
    }

    private void OnEditSpaceDialogClose(ModalDialogOnCloseResult returnValueTuple)
    {
        LearningWorldP.OnEditSpaceDialogClose(returnValueTuple);
        StateHasChanged();
    }

    private void OnEditElementDialogClose(ModalDialogOnCloseResult returnValueTuple)
    {
        LearningWorldP.OnEditElementDialogClose(returnValueTuple);
        StateHasChanged();
    }

    public void TriggerStateHasChanged()
    {
        StateHasChanged();
    }

    private void ShowSelectedLearningSpaceView()
    {
        LearningWorldP.ShowSelectedLearningSpaceView();
    }

    private void CloseLearningSpaceView()
    {
        LearningWorldP.CloseLearningSpaceView();
    }

}