@using Presentation.PresentationLogic.LearningSpace
@using Presentation.PresentationLogic.SelectedViewModels
@using Shared
@using Shared.Command
@using Microsoft.Extensions.Localization
@using System.ComponentModel
@using System.Diagnostics.CodeAnalysis
@using Presentation.Components.Dialogues
@implements IDisposable

@if (LearningSpaceP.LearningSpaceVm != null)
{
    <div class="mx-2 rounded-lg">
        <div class="flex justify-center p-2">
            <p class="text-base 2xl:text-xl text-center font-bold text-adlergrey-500 mx-2">@Localizer["LearningSpace.Title.Text"]</p>
        </div>
    </div>
    <div class="p-2 flex justify-start items-center space-x-2">
        <img class="w-8" src="CustomIcons/space-icon_nobg.png" alt="learningspace">
        <p class="text-sm 2xl:text-lg text-adlerblue-600 font-bold truncate hover:text-clip">@LearningSpaceP.LearningSpaceVm.Name</p>
    </div>
    @if (SelectedViewModelsProvider.LearningObjectInPathWay != null)
    {
        <section class="p-2 flex flex-col justify-start">
            <div class="gap-2 flex justify-between items-start">
                <label id="learning-element-info" class="font-medium flex flex-col w-3/5">
                    <p class="text-sm 2xl:text-base text-adlerblue-600 space-theme">
                        <span class="text-adlergrey-600">@Localizer["LearningSpace.SpaceTheme.Text"] </span> @(LearningSpaceP.LearningSpaceVm?.Theme is { } theme ? ThemeHelper.Localize(theme) : "")
                    </p>
                    <div class="flex flex-row justify-start items-center gap-1">
                        <p class="text-sm 2xl:text-base text-adlergrey-600 flex-initial space-goals">@Localizer["LearningSpace.SpaceGoals.Text"]</p>
                        <!--<MudTooltip Text="@LearningSpaceP.LearningSpaceVm?.LearningOutcomes"
                                Placement="Placement.Right"
                                Duration="Double.Epsilon"
                                Class="bg-adlergrey-200 drop-shadow-xl h-fit w-40 text-adlergrey-800"
                                Arrow="true">
                        <p class="text-sm 2xl:text-base w-[8rem] 2xl:w-[24rem] text-adlerblue-600 truncate text-ellipsis">@LearningSpaceP.LearningSpaceVm?.LearningOutcomes</p>
                    </MudTooltip> !-->
                    </div>
                </label>
                <div class="w-2/5">
                    <p class="text-sm 2xl:text-base text-adlerblue-600 space-workload">
                        <span class="text-adlergrey-600">@Localizer["LearningSpace.SpaceWorkload.Text"] </span> @LearningSpaceP.LearningSpaceVm?.Workload<span class="text-adlergrey-600">@Localizer["LearningSpace.SpaceWorkload.Text.Additional"]</span>
                    </p>
                    <p class="text-sm 2xl:text-base text-adlerblue-600 space-points">
                        <span class="text-adlergrey-600">@Localizer["LearningSpace.SpacePoints.Text"]</span> @LearningSpaceP.LearningSpaceVm?.RequiredPoints
                        <span class="text-adlergrey-600"> / </span> @LearningSpaceP.LearningSpaceVm?.Points
                        <span class="text-adlergrey-600">@Localizer["LearningSpace.SpacePoints.Text.Points.Suffix"]</span>
                    </p>
                    @ChildContent
                </div>
            </div>
        </section>
    }

    @if (LearningSpaceP.LearningSpaceVm != null)
    {
        <LearningSpaceLayoutView LearningSpace="LearningSpaceP.LearningSpaceVm"/>
    }
}

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public ILearningSpacePresenter LearningSpaceP { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    IDialogService DialogService { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IStringLocalizer<LearningSpaceView> Localizer { get; set; }


    [Parameter] public RenderFragment? ChildContent { get; set; }

    [CascadingParameter(Name = "TriggerMasterLayoutStateHasChanged")]
    private Action? TriggerMasterLayoutStateHasChanged { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public ISelectedViewModelsProvider SelectedViewModelsProvider { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LearningSpaceP.OnCommandUndoRedoOrExecute += OnCommandUndoRedoOrExecute;
        LearningSpaceP.PropertyChanged += PropertyChanged;
    }

    /// <summary>
    /// Updates this component when a command is executed, undone or redone which affects this component.
    /// </summary>
    private async void OnCommandUndoRedoOrExecute(object? sender, CommandUndoRedoOrExecuteArgs e)
    {
        await InvokeAsync(StateHasChanged);
        if (e.CommandName is "CreateLearningElement" or "LoadLearningElement" or
            "PlaceLearningElementInLayoutFromUnplaced" or "ChangeLearningSpaceLayout" or
            "PlaceLearningElementInLayoutFromLayout" or "CreateLearningSpace" or "RemoveLearningElementFromLayout")
        {
            await InvokeAsync(TriggerMasterLayoutStateHasChanged!);
        }
    }

    private async void PropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        switch (e.PropertyName)
        {
            case nameof(LearningSpaceP.LearningSpaceVm):
                await InvokeAsync(TriggerMasterLayoutStateHasChanged!);
                break;
            case nameof(LearningSpaceP.ReplaceLearningElementDialogOpen)
                when LearningSpaceP.ReplaceLearningElementDialogOpen:
                await ShowReplaceLearningElementDialog();
                break;
        }
    }

    private async Task ShowReplaceLearningElementDialog()
    {
        var dialog = await DialogService.ShowAsync<ReplaceLearningElementDialog>(@Localizer["ShowReplaceLearningElementDialog.Dialog.ReplaceLearningElement"]);
        var result = await dialog.Result;
        LearningSpaceP.OnReplaceLearningElementDialogClose(result);
    }

    public void Dispose()
    {
        LearningSpaceP.OnCommandUndoRedoOrExecute -= OnCommandUndoRedoOrExecute;
        LearningSpaceP.PropertyChanged -= PropertyChanged;
    }

}