@using Microsoft.Extensions.Localization
@using Presentation.PresentationLogic.AuthoringToolWorkspace
@using Presentation.Components.Forms.Models
@using BusinessLogic.Entities
@using Presentation.Components.Forms.Buttons
@using System.Diagnostics.CodeAnalysis
@using Shared.Theme
<div class="absolute w-full z-30 h-24">
    <header class="py-2 2xl:py-3 bg-adlerbgbright border-b-2 border-adlergrey-100">
        <div class="flex justify-center py-2 2xl:py-3">
            <h2 class="text-base 2xl:text-xl text-center font-bold text-adlerdarkblue-800 mx-2">@Localizer["CreateWorldForm.Title.Text"]</h2>
        </div>
    </header>
    <div class="flex justify-between items-start">
        <MudText Class="text-adlergrey-200 w-4/4 p-4 text-xs">@Localizer["CreateWorldForm.Text"]</MudText>
    </div>
</div>

<BaseForm TForm="LearningWorldFormModel" TEntity="LearningWorld" OnValidSubmit="OnValidSubmit" @ref="_form"
          SnackbarMessage=@Localizer["CreateWorldForm.SnackbarMessage"]
          FormDataContainer="FormDataContainer">
    <Fields>
        <div class="px-2 overflow-y-scroll top-28 h-[75%] 2xl:h-[83%] absolute flex flex-col w-[96%] mx-2 border-t border-dotted">
            <Collapsable Title=@Localizer["CreateWorldForm.General.Text"] InitiallyCollapsed="false">
                <div class="rounded-lg w-4/4 px-4 pb-2">
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Name"
                                  For="@(() => FormModel.Name)"
                                  @ref="_nameField"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Label="@Localizer["CreateWorldForm.General.Field.Name.Text"]"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Shortname"
                                  For="@(() => FormModel.Shortname)"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Label="@Localizer["CreateWorldForm.General.Field.Shortname.Text"]"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Authors"
                                  For="@(() => FormModel.Authors)"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Label="@Localizer["CreateWorldForm.General.Field.Authors.Text"]"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Language"
                                  For="@(() => FormModel.Language)"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Label="@Localizer["CreateWorldForm.General.Field.Language.Text"]"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.EvaluationLink"
                                  For="@(() => FormModel.EvaluationLink)"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Label="@Localizer["CreateWorldForm.General.Field.EvaluationLink.Text"]"/>
                </div>
            </Collapsable>
            
            <Collapsable Title="@Localizer["CreateWorldForm.EnrolmentKey.Title"]" InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4">
                    <div class="flex flex-row items-center gap-1 py-2">
                        <MudText Class="font-bold text-sm pl-1">@Localizer["CreateWorldForm.General.Field.EnrolmentKey.Text"]</MudText>
                        <MudTooltip Placement="Placement.Right" Class="w-96 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed">
                            <TooltipContent>
                                <MudText Class="text-xs">@((MarkupString)Localizer["CreateWorldForm.EnrolmentKey.Tooltip"].ToString())</MudText>
                            </TooltipContent>
                            <ChildContent>
                                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey hover:text-adlerdarkblue"></MudIcon>
                            </ChildContent>
                        </MudTooltip>
                    </div>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.EnrolmentKey"
                                  For="@(() => FormModel.EnrolmentKey)"
                                  DebounceInterval="DebounceInterval"
                                  OnKeyUp="HandleKeyEvent"
                                  Variant="Variant.Outlined"/>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateWorldForm.Theme.Text"] InitiallyCollapsed="true">
                <p class="text-xs pl-4">@Localizer["CreateWorldForm.Theme.Field.Theme.Text"]</p>
                <div class="px-4 pb-2">
                    <MudSelect @bind-Value="FormDataContainer.FormModel.WorldTheme"
                               Text="@FormDataContainer.FormModel.WorldTheme.ToString()"
                               OnKeyUp="HandleKeyEvent"
                               For="@(() => FormModel.WorldTheme)">
                        @foreach (var theme in _themes)
                        {
                            <MudSelectItem Value="@(theme)">@(ThemeHelper<WorldTheme>.Localize(theme))</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </Collapsable>
            
            <Collapsable Title=@Localizer["CreateWorldForm.Goals.Text"] InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4">
                    <MudText Typo="Typo.caption">@Localizer["CreateWorldForm.Goals.Field.Goals.Text"]</MudText>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Goals"
                                  For="@(() => FormModel.Goals)"
                                  Lines="3"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="DebounceInterval"
                                  Class="pb-2 mt-0"/>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateWorldForm.Fields.Collapsable.Description.Title"] InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4">
                    <MudText Typo="Typo.caption">@Localizer["CreateWorldForm.Goals.Field.Description.Text"]</MudText>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Description"
                                  For="@(() => FormModel.Description)"
                                  Lines="3"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="DebounceInterval"
                                  Class="text-adlergrey-800 pb-4 mt-0"/>
                </div>
            </Collapsable>

            <Collapsable Title=@Localizer["CreateWorldForm.Fields.Collapsable.Story.Title"] InitiallyCollapsed="true">
                <div class="rounded-lg w-4/4 px-4">
                    <MudText Typo="Typo.caption">@Localizer["CreateWorldForm.Fields.Collapsable.Story.Field.Description.Text"]</MudText>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.StoryStart"
                                  For="@(() => FormModel.StoryStart)"
                                  Lines="3"
                                  Label="@Localizer["CreateWorldForm.Fields.Collapsable.Story.Field.Start.Label"]"
                                  Variant="Variant.Outlined"
                                  Placeholder="@Localizer["CreateWorldForm.Fields.Collapsable.Story.Field.Start.Placeholder"]"
                                  DebounceInterval="DebounceInterval"
                                  Class="pb-4 mt-0"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.StoryEnd"
                                  For="@(() => FormModel.StoryEnd)"
                                  Lines="3"
                                  Label="@Localizer["CreateWorldForm.Fields.Collapsable.Story.Field.End.Label"]"
                                  Variant="Variant.Outlined"
                                  Placeholder="@Localizer["CreateWorldForm.Fields.Collapsable.Story.Field.End.Placeholder"]"
                                  DebounceInterval="DebounceInterval"
                                  Class="pb-4 mt-0"/>
                </div>
            </Collapsable>
        </div>
        
    </Fields>
    <FooterButtons>
        <div class="absolute flex flex-row justify-end left-0 w-full bottom-0 border-t-2 border-adlergrey-100 bg-adlerbgbright">
            <DefaultSubmitButton/>
            <DefaultResetButton/>
        </div>
    </FooterButtons>
</BaseForm>

@code {


    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IStringLocalizer<CreateWorldForm> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IAuthoringToolWorkspacePresenter AuthoringToolWorkspacePresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IAuthoringToolWorkspaceViewModel AuthoringToolWorkspaceViewModel { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IFormDataContainer<LearningWorldFormModel, LearningWorld> FormDataContainer { get; set; }

    [Parameter] public EventCallback OnSubmitted { get; set; }

    [Parameter] public int DebounceInterval { get; set; } = 300;

    //this indirection is necessary for the `For` attribute on the form fields to work properly when validating the form
    //please DO NOT REFACTOR THIS - n.stich
    private LearningWorldFormModel FormModel => FormDataContainer.FormModel;

    private BaseForm<LearningWorldFormModel, LearningWorld> _form = null!;
    private MudTextField<string> _nameField = null!;
    
    private WorldTheme[] _themes = (WorldTheme[])Enum.GetValues(typeof(WorldTheme));

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await _form.FocusField(_nameField);
        }
    }

    private void OnValidSubmit(LearningWorldFormModel model)
    {
        AuthoringToolWorkspacePresenter.CreateLearningWorld(model.Name, model.Shortname, model.Authors, model.Language, model.Description, model.Goals, model.WorldTheme, model.EvaluationLink, model.EnrolmentKey, model.StoryStart, model.StoryEnd);
        OnSubmitted.InvokeAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    internal async Task HandleKeyEvent(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
        {
            await _form.SubmitAsync();
        }
    }

}