@using System.ComponentModel
@using System.Diagnostics.CodeAnalysis
@using AutoMapper
@using BusinessLogic.Entities
@using Microsoft.Extensions.Localization
@using Presentation.Components.Forms.Buttons
@using Presentation.Components.Forms.Models
@using Presentation.PresentationLogic.LearningWorld
@using Shared.Theme

<div class="absolute w-full z-30 cursor-default">
    <header class="py-2 2xl:py-3 bg-adlerbgbright border-b-2 border-adlergrey-100 overflow-hidden flex justify-center">
        <h2 class="text-base 2xl:text-lg text-center font-bold text-adlertitledarkblue mx-2">@Localizer["EditWorldForm.Header.Title"]</h2>
    </header>
    <div class="flex justify-between items-start">
        <MudText Class="text-adlergrey-200 text-xs p-2">@Localizer["EditWorldForm.Text"]</MudText>
    </div>
</div>

<BaseForm TForm="LearningWorldFormModel"
          TEntity="LearningWorld"
          OnValidSubmit="OnValidSubmit"
          OnValidFieldChange="OnValidFieldChange"
          SnackbarMessage=@Localizer["EditWorldForm.SnackbarMessage"]
          FormDataContainer="FormDataContainer" @ref="_form">

    <Fields>
        <Collapsable Title=@Localizer["EditWorldForm.Fields.Collapsable.General.Title"] InitiallyCollapsed="false">
                <div class="w-4/4 px-6">
                    <p class="font-bold text-xs text-adlertitledarkblue cursor-default pt-2">@Localizer["EditWorldForm.General.Subtitle"]</p>
                    <p class="text-xs cursor-default">@Localizer["EditWorldForm.General.InfoText"]</p>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Name"
                                  For="@(() => FormModel.Name)"
                                  @ref="_nameField"
                                  DebounceInterval="DebounceInterval"
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.General.Field.Name.Text"]"
                                  Typo="Typo.subtitle2"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Placeholder="z. B. Einführung-in-die-Biologie"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Shortname"
                                  For="@(() => FormModel.Shortname)"
                                  DebounceInterval="DebounceInterval"
                                  Typo="Typo.subtitle2"
                                  Variant="Variant.Outlined"
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.General.Field.Shortname.Text"]"
                                  Margin="Margin.Dense"
                                  Placeholder="z. B. EinfBio2024"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Authors"
                                  For="@(() => FormModel.Authors)"
                                  DebounceInterval="DebounceInterval"
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.General.Field.Authors.Text"]"
                                  Typo="Typo.subtitle2"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Placeholder="z. B. Erika Musterfrau, Max Mustermann"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Language"
                                  For="@(() => FormModel.Language)"
                                  DebounceInterval="DebounceInterval"
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.General.Field.Language.Text"]"
                                  Typo="Typo.subtitle2"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Placeholder="z. B. Deutsch, Englisch"/>
                    
                    <p class="text-xs font-bold cursor-default text-adlertitledarkblue pt-2">@Localizer["EditWorldForm.Finalization.Text"]</p>
                    <p class="text-xs cursor-default align-middle">@Localizer["EditWorldForm.Finalization.Collapsable.Description.Text"]
                        <MudTooltip Placement="Placement.Right"
                                    Class="w-96 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed"
                                    Text="@Localizer["EditWorldForm.Finalization.Tooltip"]">
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info"
                                     Class="text-adlergrey-200 hover:text-adlerdarkblue"></MudIcon>
                        </MudTooltip>
                    </p>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.EvaluationLinkText"
                                  For="@(() => FormModel.EvaluationLinkText)"
                                  Lines="4"
                                  Class="pt-1"
                                  Placeholder="@Localizer["EditWorldForm.Finalization.Field.EvaluationLinkText.Placeholder.Text"]"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="DebounceInterval"
                                  Label="Hinweistext"
                                  Margin="Margin.Dense"
                                  Typo="Typo.subtitle2"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.EvaluationLinkName"
                                  For="@(() => FormModel.EvaluationLinkName)"
                                  DebounceInterval="DebounceInterval"
                                  Placeholder="@Localizer["EditWorldForm.Finalization.Field.EvaluationLinkName.Placeholder.Text"]"
                                  Typo="Typo.subtitle2"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Label="Art des Links"
                                  Class="py-1"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.EvaluationLink"
                                  For="@(() => FormModel.EvaluationLink)"
                                  DebounceInterval="DebounceInterval"
                                  Placeholder="@Localizer["EditWorldForm.Finalization.Field.EvaluationLink.Placeholder.Text"]"
                                  Typo="Typo.subtitle2"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined"
                                  Label="URL"/>
                </div>
            </Collapsable>
            
            <Collapsable Title="Inhalt & Orientierung"
                         InitiallyCollapsed="true">
                <div class="w-4/4 px-6">
                    <p class="text-xs cursor-default font-bold text-adlertitledarkblue pt-2">@Localizer["EditWorldForm.Fields.Collapsable.Description.Title"]</p>
                    <p class="text-xs cursor-default">@Localizer["EditWorldForm.Fields.Collapsable.Goals.Field.Description.Text"]</p>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.Description"
                                  For="@(() => FormModel.Description)"
                                  Lines="3"
                                  Placeholder="Diese Lernwelt behandelt folgendes Thema: ..."
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.Description.Title"]"
                                  Margin="Margin.Dense"
                                  Typo="Typo.subtitle2"
                                  Class="pt-1"
                                  Variant="Variant.Outlined"
                                  DebounceInterval="DebounceInterval"/>
                    
                    <p class="text-xs cursor-default font-bold text-adlertitledarkblue pt-2">@Localizer["EditWorldForm.Fields.Collapsable.Goals.Title"]</p>
                    <p class="text-xs cursor-default">@Localizer["EditWorldForm.Fields.Collapsable.Goals.Field.Goals.Text"]</p>
                    <div class="flex justify-center">
                        <MudButton Class="btn-standard w-72"
                                   OnClick="OpenLearningOutcomesOverview">@Localizer["EditWorldForm.Goals.Button"]</MudButton>
                    </div>
                </div>
            </Collapsable>
            
            <Collapsable Title="Gestaltung & Darstellung" InitiallyCollapsed="true">
                <div class="w-4/4 px-6">
                    <p class="text-xs font-bold text-adlertitledarkblue cursor-default pt-2">@Localizer["EditWorldForm.Theme.Text"]</p>
                    <p class="text-xs cursor-default">@Localizer["EditWorldForm.Theme.Field.Theme.Text"]</p>
                    <MudSelect @bind-Value="FormDataContainer.FormModel.WorldTheme"
                               Text="@FormDataContainer.FormModel.WorldTheme.ToString()"
                               For="@(() => FormModel.WorldTheme)"
                               Typo="Typo.subtitle2"
                               Variant="Variant.Outlined"
                               Margin="Margin.Dense">
                        @foreach (var theme in _themes)
                        {
                            <!-- WorldTheme.Company is disabled because it is not yet supported -->
                            <MudSelectItem Disabled="@theme.Equals(WorldTheme.Company)"
                                           Value="@(theme)">@(ThemeHelper<WorldTheme>.Localize(theme))</MudSelectItem>
                        }
                    </MudSelect>
            
                    <p class="text-xs text-adlertitledarkblue font-bold cursor-default pt-2">@Localizer["EditWorldForm.Fields.Collapsable.Story.Title"]</p>
                    <p class="text-xs cursor-default">@Localizer["EditWorldForm.Fields.Collapsable.Story.Field.Description.Text"]</p>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.StoryStart"
                                  For="@(() => FormModel.StoryStart)"
                                  Lines="3"
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.Story.Field.Start.Label"]"
                                  Variant="Variant.Outlined"
                                  Placeholder="@Localizer["EditWorldForm.Fields.Collapsable.Story.Field.Start.Placeholder"]"
                                  DebounceInterval="DebounceInterval"
                                  Class="pt-1"
                                  Typo="Typo.subtitle2"
                                  Margin="Margin.Dense"/>
                    <MudTextField @bind-Value="FormDataContainer.FormModel.StoryEnd"
                                  For="@(() => FormModel.StoryEnd)"
                                  Lines="3"
                                  Label="@Localizer["EditWorldForm.Fields.Collapsable.Story.Field.End.Label"]"
                                  Variant="Variant.Outlined"
                                  Placeholder="@Localizer["EditWorldForm.Fields.Collapsable.Story.Field.End.Placeholder"]"
                                  DebounceInterval="DebounceInterval"
                                  Typo="Typo.subtitle2"
                                  Margin="Margin.Dense"/>
                </div>
            </Collapsable>
            
        <Collapsable Title="Interaktion & Ablauf"
                     InitiallyCollapsed="true">
            <div class="w-4/4 px-6">
                <p class="text-xs font-bold text-adlertitledarkblue cursor-default pt-2">@Localizer["EditWorldForm.Fields.Collapsable.General.Field.EnrolmentKey.Text"]</p>
                <p class="text-xs cursor-default">Geben Sie einen Einschreibeschlüssel ein, um den Zugang zu dieser Lernwelt zu beschränken.
                    <MudTooltip Placement="Placement.Right"
                                Class="w-96 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed"
                                Text="@Localizer["EditWorldForm.EnrolmentKey.Tooltip"]">
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info"
                                 Class="text-adlergrey-200 hover:text-adlerdarkblue"></MudIcon>
                    </MudTooltip>
                </p>
            
                <MudTextField @bind-Value="FormDataContainer.FormModel.EnrolmentKey"
                              For="@(() => FormModel.EnrolmentKey)"
                              DebounceInterval="DebounceInterval"
                              Variant="Variant.Outlined"
                              Typo="Typo.subtitle2" 
                              Margin="Margin.Dense"/>
            </div>
        </Collapsable>
    </Fields>

    <FooterButtons>
        <div
            class="absolute flex flex-row justify-end left-0 w-full bottom-0 border-t-2 border-adlergrey-100 bg-adlerbgbright">
            <SubmitThenRemapButton RemapAction="MapIntoContainer"/>
            <MudIconButton Icon="@Icons.Material.Filled.Autorenew"
                           OnClick="@OnResetAsync"
                           Class="btn-standard shadow-lg text-adlergrey rounded-lg bg-adlerdeactivated hover:bg-adlerdarkblue hover:text-buttonbgblue reset-form">
            </MudIconButton>
        </div>
    </FooterButtons>
</BaseForm>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private ILearningWorldPresenter LearningWorldPresenter { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IMapper Mapper { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IFormDataContainer<LearningWorldFormModel, LearningWorld> FormDataContainer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    private IStringLocalizer<EditWorldForm> Localizer { get; set; }

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types
    internal IDialogService DialogService { get; set; }

    [Parameter, EditorRequired, AllowNull] //allow null since not providing the parameter produces a warning - n.stich
    public ILearningWorldViewModel WorldToEdit { get; set; }

    [Parameter] public int DebounceInterval { get; set; } = 300;

    //this indirection is necessary for the `For` attribute on the form fields to work properly when validating the form
    //please DO NOT REFACTOR THIS - n.stich
    private LearningWorldFormModel FormModel => FormDataContainer.FormModel;

    private BaseForm<LearningWorldFormModel, LearningWorld> _form = null!;
    private MudTextField<string> _nameField = null!;

    private WorldTheme[] _themes = (WorldTheme[])Enum.GetValues(typeof(WorldTheme));

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await _form.FocusField(_nameField);
        }
    }

    private void OnValidSubmit(LearningWorldFormModel model)
    {
        LearningWorldPresenter.EditLearningWorld(model.Name, model.Shortname, model.Authors, model.Language, model.Description, model.LearningOutcomeCollection, model.WorldTheme, model.EvaluationLink, model.EvaluationLinkName, model.EvaluationLinkText, model.EnrolmentKey, model.StoryStart, model.StoryEnd);
    }

    private void OnValidFieldChange(LearningWorldFormModel model) => OnValidSubmit(model);

    private async Task MapIntoContainer()
    {
        Mapper.Map(WorldToEdit, FormDataContainer.FormModel);
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await MapIntoContainer();
        if (LearningWorldPresenter.LearningWorldVm == null)
            throw new ApplicationException("LearningWorldVm is null");
        LearningWorldPresenter.LearningWorldVm.PropertyChanged += LearningWorldPropertyChanged;
    }

    private void LearningWorldPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName is nameof(LearningWorldViewModel.Name) or nameof(LearningWorldViewModel.Shortname)
            or nameof(LearningWorldViewModel.Authors) or nameof(LearningWorldViewModel.Language)
            or nameof(LearningWorldViewModel.Description)
           )
        {
            InvokeAsync(MapIntoContainer);
        }
    }

    private async Task OnResetAsync()
    {
        await MapIntoContainer();
    }

    private async void OpenLearningOutcomesOverview()
    {
        await LearningOutcomesOverviewHelper.ShowOverviewAsync(DialogService, FormDataContainer.FormModel.LearningOutcomeCollection, typeof(LearningWorld));
        StateHasChanged();
    }

}