@using AuthoringTool.PresentationLogic.AuthoringToolWorkspace
@using AuthoringTool.PresentationLogic.LearningElement
@using AuthoringTool.PresentationLogic.LearningSpace
@using AuthoringTool.PresentationLogic.LearningWorld
@using AuthoringTool.Components
@using AuthoringTool.Components.ModalDialog
@using AuthoringTool.PresentationLogic.LearningElement.ActivationElement
@using AuthoringTool.PresentationLogic.LearningElement.InteractionElement
@using AuthoringTool.PresentationLogic.LearningElement.TestElement
@using AuthoringTool.PresentationLogic.LearningElement.TransferElement
@using AuthoringTool.PresentationLogic.ModalDialog
@using AuthoringTool.View.LearningElement

<h2>LearningSpace @LearningSpaceP.LearningSpaceVm?.Name</h2>
<h5>Workload: @LearningSpaceP.LearningSpaceVm?.Workload minutes</h5>
<button class="btn btn-primary add-learning-element" @onclick="AddNewLearningElement">Add Learning Element</button>
<button class="btn btn-primary load-learning-element" @onclick="LoadLearningElementAsync">Load Learning Element</button>
@ChildContent
<br>

@if (LearningSpaceP.LearningSpaceVm?.SelectedLearningObject != null)
{
    <label id="learning-object-info">
        Selected element: 
        @LearningSpaceP.LearningSpaceVm.SelectedLearningObject.Name, 
        Description: @LearningSpaceP.LearningSpaceVm.SelectedLearningObject.Description
    </label>
    <br>
    <button class="btn btn-primary edit-learning-object" @onclick="EditSelectedLearningObject">Edit selected Learning Object</button>
    <button class="btn btn-primary delete-learning-object" @onclick="DeleteSelectedLearningObject">Delete Learning Object</button>
    <button class="btn btn-primary save-learning-object" @onclick="SaveSelectedLearningObjectAsync">Save selected Learning Object</button>
}
<svg style="width: 100%; height: 600px; border: 1px solid green"
     xmlns="http://www.w3.org/2000/svg"
     @onmousemove=@(e => MouseService.FireMove(this, e))
         @onmouseup=@(e => MouseService.FireUp(this, e))
         @onmouseleave=@(() => MouseService.FireOut(this, null))>
    @if (LearningSpaceP.LearningSpaceVm != null)
    {
        @foreach (var learningObject in LearningSpaceP.LearningSpaceVm.LearningElements)
        {
            <DraggableLearningElement LearningElement="@learningObject" OnClicked="@LearningSpaceP.SetSelectedLearningObject"/>
        }
    }
</svg>
@if (LearningSpaceP.EditLearningSpaceDialogOpen && LearningSpaceP.LearningSpaceVm != null)
{
    @ModalDialogFactory.GetEditLearningSpaceFragment(LearningSpaceP.EditLearningSpaceDialogInitialValues, OnEditSpaceDialogClose);
}

@if (LearningSpaceP.CreateLearningElementDialogOpen)
{
    //Override nullability because LearningSpaceVm can't be null at this point. - m.ho, n.stich
    @ModalDialogFactory.GetCreateLearningElementFragment(LearningSpaceP.DragAndDropLearningContent, OnCreateElementDialogClose, LearningSpaceP.LearningSpaceVm!.Name);
}

@if (LearningSpaceP.EditLearningElementDialogOpen && LearningSpaceP.LearningSpaceVm != null)
{
    @ModalDialogFactory.GetEditLearningElementFragment(LearningSpaceP.EditLearningElementDialogInitialValues, OnEditElementDialogClose);
}


@code {
#pragma warning disable CS8618 injected by framework - n.stich
    [Inject]
    public IMouseService MouseService { get; set; }
    [Inject]
    public ILearningSpacePresenter LearningSpaceP { get; set; }
    [Inject]
    public ILearningSpaceViewModalDialogFactory ModalDialogFactory { get; set; }
#pragma warning restore CS8618

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    //TODO: Instead of setting a value here we need some sort of central service that we can notify about the error to
    //then display it in the UI - n.stich
    internal ExceptionWrapper? ErrorState { get; private set; }

    private void AddNewLearningElement()
    {
        LearningSpaceP.AddNewLearningElement();
    }

    private void DeleteSelectedLearningObject()
    {
        LearningSpaceP.DeleteSelectedLearningObject();
    }

    private async Task LoadLearningElementAsync()
    {
        try
        {
            await LearningSpaceP.LoadLearningElementAsync();
        }
        catch (OperationCanceledException)
        {
    //nothing to do, show notification?
        }
        catch (Exception exception)
        {
            ErrorState = new ExceptionWrapper("Load learning element", exception);
        }
        finally
        {
    //we need to tell blazor explicitly to re-render our component after we added the loaded learning object
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task SaveSelectedLearningObjectAsync()
    {
        try
        {
            await LearningSpaceP.SaveSelectedLearningObjectAsync();
        }
        catch (OperationCanceledException)
        {
    //nothing to do, show notification?
        }
        catch (Exception exception)
        {
            ErrorState = new ExceptionWrapper("Save learning object", exception);
        }
        finally
        {
    //we need to tell blazor explicitly to re-render our component after we added the loaded learning object
            await InvokeAsync(StateHasChanged);
        }
    }

    private void OnCreateElementDialogClose(ModalDialogOnCloseResult closeResult)
    {
        LearningSpaceP.OnCreateElementDialogClose(closeResult);
        InvokeAsync(StateHasChanged);
    }

    private void EditSelectedLearningObject()
    {
        LearningSpaceP.EditSelectedLearningObject();
    }

    private void OnEditSpaceDialogClose(ModalDialogOnCloseResult closeResult)
    {
        LearningSpaceP.OnEditSpaceDialogClose(closeResult);
        InvokeAsync(StateHasChanged);
    }

    private void OnEditElementDialogClose(ModalDialogOnCloseResult closeResult)
    {
        LearningSpaceP.OnEditElementDialogClose(closeResult);
        InvokeAsync(StateHasChanged);
    }

}