@using Presentation.PresentationLogic.SelectedViewModels
@using Shared
@using Presentation.PresentationLogic.LearningElement
@using System.Diagnostics.CodeAnalysis
@using MudBlazor.Extensions
@using Presentation.Components
@using Presentation.Components.Forms.Element
@using Presentation.PresentationLogic.LearningContent.AdaptivityContent
@using Presentation.PresentationLogic.LearningContent.FileContent
@using Presentation.PresentationLogic.LearningContent.LinkContent
@using Presentation.PresentationLogic.LearningContent.Story
<MudMenu ActivationEvent="MouseEvent.RightClick" PositionAtCursor="true">
    <ActivatorContent>
        <MudCard title="@LearningElement.Name" Outlined="true" Class="@GetElementStyleString()">
            <section class="flex flex-col justify-start items-start">
                <MudCardContent Class="relative flex justify-center w-[72px] 2xl:w-[85px] 3xl:w-[88px] 1080p:w-[100px] 2500p:w-[145px] h-[40px] 2xl:h-[50px] 2500p:h-[80px] p-0">
                    
                    <div class="absolute flex justify-center -top-3 2xl:-top-4">
                        <MudIcon Icon="@GetElementIcon()" Class="w-6 h-6 2xl:w-7 2xl:h-7 -top-5 flex rounded-lg p-1 element-icon"/>
                    </div>
                    
                    <div class="flex flex-col items-center">
                        
                        
                        <div class="flex justify-center items-center">

                            <MudListItem Class="truncate w-20 h-6 2xl:h-8 text-[8px] 2xl:text-xs 1080p:text-xs mt-0.5 1080p:text-sm font-bold text-adlertextgrey text-ellipsis overflow-hidden text-center leading-none 2xl:leading-none 1080p:leading-none p-0 mt-0.5" Text="@LearningElement.Name"></MudListItem>
                        </div>

                        <div class="flex flex-row justify-between items-center rounded-md bg-[#b9c0ca] w-[60px] 2xl:w-[70px] 3xl:w-[75px] 1080p:w-[80px] 2500p:w-[120px] border-2 border-[#8b96a7] p-0.5 mt-0.5">
                            <div>
                                <MudIcon Class="flex difficulty-icon drop-shadow w-3 h-3 2xl:h-4 2xl:w-4" Icon="@GetDifficultyIcon(LearningElement.Difficulty)"></MudIcon>
                            </div>
                            <div class="flex items-center justify-center">
                                <MudText Class="flex items-center justify-center rounded-full text-adlertextgrey text-[8px] 2xl:text-xs font-bold">@LearningElement.Points P.</MudText>
                            </div>
                        </div>
                    </div>

                </MudCardContent>
            </section>
            <MudButton Class="cursor-grab" Style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;"
                       OnClick="() => OnClicked.InvokeAsync(LearningElement)"/>
        </MudCard>
    </ActivatorContent>
    <ChildContent>
        @if (LearningElement.LearningContent is IFileContentViewModel or ILinkContentViewModel)
        {
            <MudMenuItem OnClick="() => OnShowLearningElementContent.InvokeAsync(LearningElement)">Show</MudMenuItem>
        }
        <MudMenuItem OnClick="() => OnEditLearningElement.InvokeAsync(LearningElement)">Edit</MudMenuItem>
        <MudMenuItem OnClick="() => OnDeleteLearningElement.InvokeAsync(LearningElement)">Delete</MudMenuItem>
    </ChildContent>
</MudMenu>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    public ISelectedViewModelsProvider SelectedViewModelsProvider { get; set; } = null!;

    [Parameter, EditorRequired, AllowNull] //allow null since not providing the parameter produces a warning - n.stich
    public ILearningElementViewModel LearningElement { get; set; } = null!;

    [Parameter, EditorRequired]
    public EventCallback<ILearningElementViewModel> OnShowLearningElementContent { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<ILearningElementViewModel> OnEditLearningElement { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<ILearningElementViewModel> OnDeleteLearningElement { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<ILearningElementViewModel> OnClicked { get; set; }

    [Parameter]
    public EventCallback<ILearningElementViewModel> OnDoubleClicked { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (LearningElement is null)
        {
            throw new ArgumentNullException(nameof(LearningElement));
        }
    }

    private static string GetDifficultyIcon(LearningElementDifficultyEnum difficulty)
    {
        return difficulty switch
        {
            LearningElementDifficultyEnum.Easy => CustomIcons.DifficultyPolygonEasy,
            LearningElementDifficultyEnum.Medium => CustomIcons.DifficultyPolygonMedium,
            LearningElementDifficultyEnum.Hard => CustomIcons.DifficultyPolygonHard,
            LearningElementDifficultyEnum.None => CustomIcons.DifficultyPolygonNone,
            _ => throw new ArgumentOutOfRangeException(nameof(difficulty))
            };
    }
    
    private string GetElementIcon()
    {
        return LearningElement.LearningContent switch
        {
            ILinkContentViewModel => CustomIcons.VideoElementIcon,
            IFileContentViewModel { Type: "png" or "jpg" or "jpeg" or "bmp" or "webp" } => CustomIcons.ImageElementIcon,
            IFileContentViewModel
            {
                Type: "txt" or "c" or "h" or "cpp" or "cc" or "c++" or "py" or
                    "js" or "php" or "html" or "css"
                } => CustomIcons.TextElementIcon,
            IFileContentViewModel { Type: "h5p" } => CustomIcons.H5PElementIcon,
            IFileContentViewModel { Type: "pdf" } => CustomIcons.TextElementIcon,
            IAdaptivityContentViewModel => CustomIcons.AdaptivityElementIcon,
            IStoryContentViewModel => CustomIcons.StoryElementIcon,
            _ => throw new ArgumentOutOfRangeException(nameof(LearningElement))
            };
    }

    private string GetElementStyleString()
    {
        return LearningElement == SelectedViewModelsProvider.LearningElement ? "border-2 border-adlerblue-300 bg-adlerblue-100 relative flex rounded-lg hover:bg-adlerblue-300" : "border-2 relative flex rounded-lg bg-adlerdeactivatedtext hover:bg-adlerblue-300 hover:border-adlerblue-300";
    }

}