@using Microsoft.Extensions.Localization
@using System.Diagnostics.CodeAnalysis
@using System.IO.Abstractions
@using Presentation.PresentationLogic.LearningWorld
<MudItem>
    <MudCard Outlined="true" Elevation="1" Class="w-60 h-40 mt-1 relative group/card bg-adlerbggradientto hover:bg-[rgba(229,213,184,0.5)]">
        <img src="CustomIcons/World/world-icon.png" class="z-0 pointer-events-none opacity-10 absolute inset-x-[60%] inset-y-[40%] w-24 h-24">
        <MudCardHeader Class="z-10 flex justify-center items-center break-word w-full">
            <CardHeaderContent>
                <div class="flex flex-col gap-1.5 px-1">
                <MudText Class="text-base 2xl:text-lg tracking-wider mt-7 font-bold break-words leading-none 2xl:leading-none">
                    @LearningWorld.Name
                </MudText>
                <MudText Class="text-xs 2xl:text-sm tracking-widers break-words leading-none 2xl:leading-none">
                    @if (ShowFileName)
                    {
                        <div class="file-name-display">
                            @GetPathDisplayMessage()
                        </div>
                    }
                    @if (FileInfo != null)
                    {
                        <MudText Class="text-xs 2xl:text-sm break-words pt-1 leading-none 2xl:leading-none">@Localizer["LearningWorldCard.LastWriteTime", FileInfo.LastWriteTime]</MudText>
                    }
                </MudText>
                </div>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (!string.IsNullOrWhiteSpace(LearningWorld.SavePath))
                {
                    <MudFab @onclick="OnCloseButtonPressed" Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete"
                            Class="close-button absolute -right-1 -top-1 w-9 h-8 text-blacktrans-200 p-4 font-bold drop-shadow transform ease-in-out duration-75 active:drop-shadow-none hover:text-adlerdarkblue-700 m-2 rounded-full"
                            Title=@Localizer["LearningWorldCard.Button.Close.Text"] DisableElevation="true"/>
                }
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent Class="">
            <button @onclick="OnOpenButtonPressedAsync" title="@Localizer["LearningWorldCard.Button.Open.Title"]"
                    class="open-button group-hover/card:visible group-hover/card:opacity-100 invisible text-xl absolute
                     top-[30%] left-[24%] 2xl:top-[30%] 2xl:left-[22%] btn-standard uppercase p-6 rounded-lg drop-shadow">
                <p class="text-base 2xl:text-lg">@Localizer["LearningWorldCard.Button.Open.Text"]</p>
            </button>
        </MudCardContent>
    </MudCard>
</MudItem>

@code {

    [Inject, AllowNull] //can never be null, DI will throw exception on unresolved types - n.stich
    internal IStringLocalizer<LearningWorldCard> Localizer { get; set; }

    [Parameter, EditorRequired, AllowNull]
    public ILearningWorldViewModel LearningWorld { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<ILearningWorldViewModel> OnOpenLearningWorld { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<ILearningWorldViewModel> OnCloseLearningWorld { get; set; }

    [Parameter, EditorRequired]
    public IFileInfo? FileInfo { get; set; }
    [Parameter, EditorRequired]
    public bool ShowFileName { get; set; }

    private string GetPathDisplayMessage()
    {
        var fileName = Path.GetFileName(LearningWorld.SavePath);
        return string.IsNullOrWhiteSpace(fileName) ? Localizer["LearningWorldCard.PathDisplayMessage.NotYetSaved"] : fileName;
    }

    private async Task OnOpenButtonPressedAsync()
    {
        await OnOpenLearningWorld.InvokeAsync(LearningWorld);
    }

    private void OnCloseButtonPressed()
    {
        OnCloseLearningWorld.InvokeAsync(LearningWorld);
    }

}