@using Presentation.PresentationLogic.AuthoringToolWorkspace
@using Presentation.View.LearningWorld
@using Microsoft.Extensions.Localization
@using Presentation.PresentationLogic.AdvancedLearningSpaceGenerator
<div class="bg-white rounded-lg w-full grow overflow-scroll">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-[475px] 2xl:h-[525px] 1080p:h-[750px] 2500p:h-[1100px] 3000p:h-[1250px] 3700p:h-[1775px] w-[500px] 2xl:w-[500px] 1080p:w-[500px] 2500p:w-[500px] 3000p:w-[600px] 3700p:w-[750px]"
         @onmousemove=@(e => MouseService.FireMove(this, e))
         @onmouseup=@(e => MouseService.FireUp(this, e))
         @onmouseleave=@(e => MouseService.FireOut(this, e))>



            <DraggableAdvancedLearningElementSlot ObjectInPathWay="@learningSpace"
                                                  OnClickedDraggable="@AdvancedLearningSpaceEditorPresenter.SetSelectedViewModel"
                                                  OnDraggedDraggable="@AdvancedLearningSpaceEditorPresenter.DragSelectedViewModel"
                                                  OnClickedDeleteObject="@AdvancedLearningSpaceEditorPresenter.DeleteLearningObject"
                                                  OnDoubleClickedDraggable="@AdvancedLearningSpaceEditorPresenter.DoubleClickOnObjectInPathway"
                                                  OnRightClickedDraggable="@AdvancedLearningSpaceEditorPresenter.RightClickOnObjectInPathWay"
                                                  ShowingRightClickMenu="learningSpace == LearningWorldP.RightClickedLearningObject"
                                                  OnDeleteLearningSpace="@AdvancedLearningSpaceEditorPresenter.DeleteLearningSpace"
                                                  OnCloseRightClickMenu="@AdvancedLearningSpaceEditorPresenter.HideRightClickMenu"
                                                  AdvancedEditorPresenter="@AdvancedLearningSpaceEditorPresenter"/>
        



        <!-- The RightClickMenu might lies behind other spaces. 
        This line brings the RightClickMenu back to top, but the clickable buttons do not work anymore. -->
        <!--<use xlink:href="#rightClickMenu" />-->
    </svg>
</div>

@code
{
#pragma warning disable CS8618 // injected by framework 
    [Inject]
    public IMouseService MouseService { get; set; }

    [Inject]
    public IAdvancedLearningSpaceEditorPresenter AdvancedLearningSpaceEditorPresenter { get; set; }

    [Inject]
    private IStringLocalizer<AdvancedLearningSpaceEditorView> Localizer { get; set; }
#pragma warning restore CS8618

    private ExceptionWrapper? ErrorState { get; set; }
}