@using System.Diagnostics.CodeAnalysis
@using Presentation.Components
@inject ISnackbar Snackbar
@using Presentation.Components.Dialogues
@using Presentation.PresentationLogic
@using Presentation.PresentationLogic.LearningWorld
@using Presentation.PresentationLogic.SelectedViewModels
<Draggable LearningObject="ObjectInPathWay" OnClicked="@OnClickedDraggable" OnDoubleClicked="@OnDoubleClickedDraggable"
           OnDragged="@OnDraggedDraggable"
           @bind-X="@ObjectInPathWay.PositionX" @bind-Y="@ObjectInPathWay.PositionY">
    @if (ObjectInPathWay == PositioningService.LearningWorldVm?.OnHoveredObjectInPathWay)
    {
        @((MarkupString)OnHoveredObjectShape)
    }
    @((MarkupString)String.Format(ObjectShape, ObjectStyle, ObjectName))
    <Clickable OnClickedParam="ObjectInPathWay" OnClicked="@OnClickedDeletePath">
        @if (ObjectInPathWay.InBoundObjects.Any())
        {
            @((MarkupString)DeletePathButtonShape)
        }
    </Clickable>
    <Clickable  T="IObjectInPathWayViewModel"  OnClickedParam="ObjectInPathWay" OnClicked="@DeleteLearningObject">
        @((MarkupString)DeleteObjectButtonShape)
        <title>@ObjectInPathwayDeletionTitle</title>
    </Clickable>
    <title>@ObjectInPathwayTitle</title>
</Draggable>

<PullablePath LearningObject="@ObjectInPathWay" X1=@ObjectInPathWay.OutputConnectionX
              Y1="@ObjectInPathWay.OutputConnectionY"
              PositioningSrv="@PositioningService">
</PullablePath>

@ChildContent


@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

    // ReSharper disable once RedundantDefaultMemberInitializer
    // Overwrite nullability warning below because we check in OnParametersSet -n.stich
    [Parameter, EditorRequired, AllowNull] //allow null since not providing the parameter produces a warning - n.stich
    public IObjectInPathWayViewModel ObjectInPathWay { get; set; } = null!;

    [Parameter, EditorRequired] public EventCallback<IObjectInPathWayViewModel> OnClickedDraggable { get; set; }

    [Parameter] public EventCallback<IObjectInPathWayViewModel> OnDoubleClickedDraggable { get; set; }

    [Parameter, EditorRequired] public DraggedEventArgs<IObjectInPathWayViewModel>.DraggedEventHandler? OnDraggedDraggable { get; set; }

    [Parameter, EditorRequired] public EventCallback<IObjectInPathWayViewModel> OnClickedDeletePath { get; set; }

    [Parameter, EditorRequired] public EventCallback<IObjectInPathWayViewModel> OnDeleteObject { get; set; }

    // ReSharper disable once RedundantDefaultMemberInitializer
    // Overwrite nullability warning below because service may never be null -n.stich
    [Parameter, EditorRequired, AllowNull] //allow null since not providing the parameter produces a warning - n.stich
    public ILearningWorldPresenter PositioningService { get; set; } = null!;

    [Inject] //can never be null, DI will throw exception on unresolved types - n.stich
    public ISelectedViewModelsProvider? SelectedObjectsService { get; set; }
    
    [Inject, AllowNull] internal IDialogService DialogService { get; set; }


    protected abstract string Text { get; }

    protected abstract string ObjectInPathwayTitle { get; }
    
    protected abstract string ObjectInPathwayDeletionTitle { get; }

    protected abstract string ObjectName { get; }

    protected abstract string OnHoveredObjectShape { get; }

    protected abstract string ObjectShape { get; }

    protected abstract string ObjectStyleWhenSelected { get; }

    protected abstract string ObjectStyleWhenNotSelected { get; }

    private string ObjectStyle => SelectedObjectsService?.LearningObjectInPathWay == ObjectInPathWay ? ObjectStyleWhenSelected : ObjectStyleWhenNotSelected;

    protected abstract string DeletePathButtonShape { get; }

    protected abstract string DeleteObjectButtonShape { get; }
    
    protected abstract string DeleteObjectConfirmationDialogText { get; }
    
    protected abstract string DeleteObjectConfirmationDialogTitle { get; }
    
    protected abstract string DeleteObjectConfirmationDialogSubmitButtonText { get; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (ObjectInPathWay is null)
        {
            throw new ArgumentNullException(nameof(ObjectInPathWay));
        }
    }
    
    protected abstract string SnackBarDeletionMessage { get; }
    
    private async Task DeleteLearningObject()
    {
        var dialogParameters = new DialogParameters
        {
            { nameof(GenericCancellationConfirmationDialog.DialogText), DeleteObjectConfirmationDialogText },
            { nameof(GenericCancellationConfirmationDialog.SubmitButtonText), DeleteObjectConfirmationDialogSubmitButtonText },
            { nameof(GenericCancellationConfirmationDialog.SubmitButtonColor), Color.Error },
        };

        var dialogReference = await DialogService.ShowAsync<GenericCancellationConfirmationDialog>(DeleteObjectConfirmationDialogTitle, dialogParameters);
        var result = await dialogReference.Result;
        if (result == null || result.Canceled)
        {
            return;
        }

        await OnDeleteObject.InvokeAsync(ObjectInPathWay);
        Snackbar.Add(SnackBarDeletionMessage, Severity.Success);
    }

}